<!-- title -->
<section class="process_title">
    <i>产品换款</i>
</section>
<main class="content" style="padding-bottom: 2rem">
    <!--换款流程 -->
    <section class="process fanx">
        <b class="right huan"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="sec"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li class="hover">
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

    <section class="change">
    <span class="title">
        <em>支付结果</em>
        <a ng-href="#/exchangeorderlist">我的订单</a>
    </span>
        <span class="title" style="text-align: center;border: 0 none;">
            <em style="color: red;font-size: 100%;width: 50%;padding: 0">换款成功！</em>
            <a  style="color: #333;width: 50%;padding: 0;text-align: left;" ng-href="#/walletdetail">还余{{price|number:2}}元</a>
        </span>
        <span class="title" style="border: 0 none;"><em></em><a  style="color: #333;" ng-href="#/wallet">余额自动存入我的账户并可提现</a></span>
        <span class="title" style="font-size: 100%;border: 0 none;" ng-if="getway=='001'"><em>下一步：准备为您寄出新款...</em></span>
        <span class="title" style="font-size: 100%;border: 0 none;" ng-if="getway=='002'"><em>正在为您准备新款，请到门店提取！</em></span>
    </section>
    </main>