<!-- 产品图 -->
<main class="banner">
    <ul class="swiper-wrapper">
    </ul>
    <section class="spot"></section>
</main>

<!-- 基本信息 -->
<section class="essential">
    <h1>{{goodDetail.title}}</h1>
    <section class="huankuan">
        <i>专柜价：{{price | currency:'￥'}}<font style="float: right;border: 1px solid red;padding: 0 10px;" ng-click="addToCar()">加入购物车</font></i>
        <em ng-if="(price*gooddetail.num-evaluatePrice)>0">换款价格：{{(price*gooddetail.num-evaluatePrice) | currency:'￥'}}</em>
        <em ng-if="(price*gooddetail.num-evaluatePrice)<=0">换款价格：{{0 | currency:'￥'}}</em>
        <em ng-if="(price*gooddetail.num-evaluatePrice)>=0">剩余金额：{{0 | currency:'￥'}}</em>
        <em ng-if="(price*gooddetail.num-evaluatePrice)<0">剩余金额：{{(evaluatePrice-price*gooddetail.num) | currency:'￥'}}</em>
        <i>注：剩余金额将直接存入您的账户余额</i>
    </section>
    <section class="essential_main">
        <em style="font-size: 80%;" ng-if="">余额还可以选择：
            <a style="border: 1px solid #000;color:red;font-size: 140%;" ng-click="selectMore()">选多几款</a>
        </em>
        <span>
        	<i>评价({{goodcommentcount}})</i>
        	<i>库存({{stocknum}})</i>
        </span>
    </section>
    <ul>
        <li>
            <em>颜色分类：</em>
        	<span class="colour"  >
                <toggle-color e-obj="goodChilds" stock-num="stocknum"  gooddetail-num="gooddetail.num" price="price" goodchild-id="gooddetail.goodchildId">
                    <a  href="" ng-repeat="item in goodChilds" ng-class="{true:'hover'}[item.flag]" attr="{{$index}}">{{item.color}}{{item.weight?"【"+item.weight+"】":""}}{{item.material}} {{item.mainstorespec}}{{item.handsize?"【"+item.handsize+"】":""}}{{item.necklace_len?"【"+item.necklace_len+"】":""}}{{item.bracelet_len?"【约"+item.bracelet_len+"】":""}}</a>
                </toggle-color>
            </span>
        </li>
        <li>
            <em>数量：</em>
           	<span class="amount">
            	<a class="icon" href="" ng-click="minusNum()">&#xe603;</a>
                <input  type="text" ng-model="gooddetail.num" ng-change="changeNum()">
                <a class="iconfont icon-add" href="" ng-click="addNum()"></a>
           	</span>
        </li>
    </ul>
</section>

<!-- 评论 -->
<section class="comment_list">
    <a class="title" href="javascript:void(0);">
        <em>商品评价</em>
        <i class="icon">&#xe722;</i>
    </a>
    <section class="comment_list_main" ng-repeat="item in goodcomments.pagingList">
    	<span class="title">
        	<img ng-src="{{item.headimgurl}}"/>
        	<em>{{item.nickname}}</em>
            <i>{{item.create_time|date:'yyyy.MM.dd'}}</i>
        </span>
        <p>{{item.content}}</p>
    </section>
    <a class="more" href="" ng-if="goodcomments.pagingList.length==0">暂无评价</a>
    <a class="more" href="" ng-if="goodcomments.pagingList.length>0">查看全部评价<i class="icon">&#xe722;</i></a>
</section>

<!-- 商品详情 -->
<section class="depict_week" style="margin-bottom: 110px;">
    <span class="title">商品详情</span>
    <span class="picture" ng-bind-html="goodDetail.description"></span>
</section>

<footer class="add_pay">
    <span class="check"><a style="color: red;width: 60%;float: right;" ng-if="totalprice>=0">预选合计：￥{{totalprice|number:2}}元</a><a style="color: red;width: 60%;float: right;" ng-if="totalprice<0">预选合计：￥{{totalprice|number:2}}元</a></span>
    <a class="cart" ng-click="settleAccounts()">结算<i>({{carData.cartotalnum}})</i></a>
</footer>
<!-- FOOTER -->
<footer class="add_submit">
	<span class="check">
        <a class="back" ng-style="menuWidth" ng-click="back()">上一步</a>
        <a ng-style="menuWidth" > <i class="title">我的余额</i><em >{{balance|currency:"￥"}}</em></a>
        <a href="#/bartercart" ng-style="menuWidth">
            <i class="icon">&#xe68d;</i><em>购物车</em>
            <u>{{totalnum}}</u>
        </a>
    </span>
    <a class="cart" ng-click="selectThis()">换此款</a>
</footer>