<!-- title -->
<section class="process_title">
    <i>产品换款</i>
</section>
<main class="content">
    <!--换款流程 -->
    <section class="process fanx">
        <b class="right huan"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="kuen"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>邮寄</em>
            </li>
            <li class="hover">
                <span><i class="t11"></i></span>
                <em>确认换款</em>
            </li>
            <li class="hover">
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>
    <!-- 定价 -->
    <section class="price">
        <span class="title icon">换款估价结果&#xe722;</span>
        <i>您所提供的全部产品估价约为</i>
        <em>{{fixPrice|currency:'￥'}}</em>
    </section>
    <section class="price_button">
        <span><a  ng-click="confirmBarter()">确认换款</a></span>
        <span><a  ng-click="dropBarter()">放弃换款</a></span>
    </section>
    <!-- 免费换 -->
    <section class="buy">
        <span class="title">您还可以免费换以下新款</span>
        <ul>
            <li>
                <a href="">
                    <span><img src="images/com/01.jpg"></span>
                    <em>￥1600.00</em>
                </a>
            </li>
            <li>
                <a href="">
                    <span><img src="images/com/01.jpg"></span>
                    <em>￥1600.00</em>
                </a>
            </li>
            <li>
                <a href="">
                    <span><img src="images/com/01.jpg"></span>
                    <em>￥1600.00</em>
                </a>
            </li>
            <li>
                <a href="">
                    <span><img src="images/com/01.jpg"></span>
                    <em>￥1600.00</em>
                </a>
            </li>
            <li>
                <a href="">
                    <span><img src="images/com/01.jpg"></span>
                    <em>￥1600.00</em>
                </a>
            </li>
            <li>
                <a href="">
                    <span><img src="images/com/01.jpg"></span>
                    <em>￥1600.00</em>
                </a>
            </li>
        </ul>
    </section>
</main>