<!-- title -->
<section class="process_title">
    <i>产品换款</i>
</section>
<main class="content">
    <!--换款流程 -->
    <section class="process fanx">
        <b class="right"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="kuen"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li>
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li>
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li>
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>邮寄</em>
            </li>
            <li>
                <span><i class="t11"></i></span>
                <em>确认换款</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

    <section class="check">
        <span class="title" style="color: red;text-align: center;font-size: 100%;">您的旧款可换以下新款：</span>
        <section class=""></section>
    </section>
    <!-- 可换款 -->
    <section class="change">
    <span class="title">
        <em>筛选</em>
    </span>
    <span class="title">
        <em>免费换款还退回人民币</em>
        <a ng-href="#/morefree">更多</a>
    </span>
        <ul class="change_main">
            <li ng-repeat="item in freeList">
                <section class="collection_main">
                    <span class="pic"><a  ng-href="#/barterdetailfor{{item.id}}"><img ng-src="{{item.bannerurl}}" style="height: 173px;"></a></span>
                    <section class="text">
                        <h2><a href="#/barterdetailfor{{item.id}}">{{item.title.length>15?item.title.substr(0,15)+'....':item.title}}</a></h2>
                        <span class="price">
                        <em>剩：{{evaluationPrice-item.price|currency:"￥"}}</em>
                        </span>
                    </section>
                </section>
            </li>
        </ul>
    </section>
    <section class="change">
    <span class="title">
        <em>还可换以下新款：</em>
        <a ng-href="#/morenew">更多</a>
    </span>
        <ul class="change_main">
            <li ng-repeat="item in newList">
                <section class="collection_main">
                    <span class="pic"><a href=""><img ng-src="{{item.bannerurl}}" style="height: 173px;"></a></span>
                    <section class="text">
                        <h2><a href="#/barterdetailfor{{item.id}}">{{item.title.length>15?item.title.substr(0,15)+'....':item.title}}</a></h2>
                        <span class="price">
                        <em style="color:#333;">补：{{item.price-evaluationPrice|currency:"￥"}}</em>
                        </span>
                    </section>
                </section>
            </li>
        </ul>
    </section>
    <!-- 换款需知 -->
    <section class="need">
    <span class="title">换款说明</span>
        <p>以旧换新，入手新品。</p>
        <p>符合条件的旧款（包括银饰品、K金、钻石类、钯金类、黄金类、铂金类）都可免费换购新品，即铂金钻石款、黄金款、K金钻石款、3D硬金款、足银款。</p>
        <p></p><p></p><p></p>
    </section>
</main>