<style>
    main.content section.cart section.cart_main {
        height: 92px;
        display: block;
        overflow: hidden;
        padding: 0 0 0 10px;
    }
    main.content section.cart section.cart_main span.title {
        width: 100%;
        height: 20px;
        float: left;
        text-align: justify;
    }
    main.content section.cart section.cart_main section.cart_price span.addto input[type="text"] {
        width: 40px;
        height: 22px;
        float: left;
        font-size: 80%;
        text-align: center;
        border-bottom: 1px solid #F5D000;
        border-top: 1px solid #F5D000;
    }
</style>



<!-- title -->
<section class="process_title" ng-switch on="pagetheme">
    <i ng-switch-when="refurbish">产品翻新</i>
    <i ng-switch-when="repair">产品维修</i>
    <i ng-switch-when="detect">产品检测</i>
    <i ng-switch-when="recycle">产品回收</i>
    <i ng-switch-when="exchange">产品换款</i>
</section>

<main class="content" ng-switch on="pagetheme">
    <!-- 翻新流程 -->
    <section class="process" ng-switch-when="refurbish">
        <b class="right huan"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验证</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li class="hover">
                <span><i class="t11"></i></span>
                <em>翻新</em>
            </li>
        </ul>
    </section>
    <!-- 维修流程 -->
    <section class="process fanx" ng-switch-when="repair">
        <b class="right huan"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="sec"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t10"></i></span>
                <em>定价</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li>
                <span><i class="t12"></i></span>
                <em>维修</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>
    <!-- 检测流程 -->
    <section class="process testing" ng-switch-when="detect">
        <b class="right"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验证</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>
    <!-- 回收流程 -->
    <section class="process" ng-switch-when="recycle">
        <b class="right huan"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
            <li>
                <span><i class="t14"></i></span>
                <em>回收</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
        </ul>
    </section>
    <!--换款流程 -->
    <section class="process fanx" ng-switch-when="exchange">
        <b class="right huan"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="sec"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>
    <!-- 单号 TAB -->
    <section class="numbers">
        <section class="numbers_list">
            <span>
                <i>订单号:</i>
                <em>{{orderInfo.orderno}}</em>
            </span>
            <span>
                <i>下单时间:</i>
                <em>{{orderInfo.create_time | date:'yyyy-MM-dd HH:mm'}}</em>
            </span>
        </section>
        <section id="tad" class="numbers_button">
            <span ng-click="showwuliuInfo(0)" ng-class="{hover:jinflag}"><a href="javascript:">收货物流</a></span>
            <span ng-click="showwuliuInfo(1)" ng-class="{hover:myflag}"><a href="javascript:">发货物流 </a></span>
        </section>
    </section>

    <!-- 金乐乐物流 -->
    <section class="{{jinlele}}">
        <section class="address">
            <a href="javascript:">
                <span class="title">
                    <em>{{orderInfo.name}}</em>
                    <em>{{orderInfo.phone}}</em>
                </span>
                <p>收货地址：{{orderInfo.address}}</p>
            </a>
        </section>
        <section class="logistics">
            <span class="title">物流详情</span>
            <ul>
                <li><i></i><em>暂无物流信息</em></li>
            </ul>
        </section>
    </section>

    <!-- 我的物流 -->
    <section class="{{mine}}">
        <section class="address">
            <a href="javascript:">
                <span class="title">
                    <em>{{orderInfo.user_name}}</em>
                    <em>{{orderInfo.tel_number}}</em>
                </span>
                <p>收货地址：{{orderInfo.province_name}} {{orderInfo.city_name}}{{orderInfo.country_name}} {{orderInfo.detail_info}}</p>
            </a>
        </section>
        <section class="logistics">
            <span class="title">物流详情</span>
            <ul>
                <li ng-if="userLogistc.length == 0"><i></i><em>暂无物流信息</em></li>
                <li ng-if="userLogistc.length != 0"  ng-repeat="item in userLogistc | orderBy:'-AcceptTime'" ng-class="{hover:$index==0}" >
                    <i></i>
                    <em>{{item.AcceptTime}} {{item.AcceptStation}}</em>
                </li>
            </ul>
        </section>
    </section>
    <!-- 检测报告 -->
    <section class="report">
        <span class="title">检测报告
        <em style="float: right;padding-right: 2rem;font-style: normal">查看详情</em>
        </span>
        <section class="report_mian" ng-if="report!=null">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{report.checkreport}}</p>
            <br/>
            <p ng-style="{'text-align' : 'center'}">以上检测报告只作平台参考，不具备法律效力！</p>
        </section>
        <section class="empty" ng-if="report==null">
            <i class="icon">&#xe639;</i>
            <em>检测还没结果，请耐心等待~</em>
        </section>
    </section>
    <!-- 换款-->
    <section class="report" ng-if="orderType=='005'&&images!=null">
        <section class="report_mian" ng-repeat="item in images"><img ng-src="{{item.url}}"/></section>
    </section>
</main>

<br>  <br>
 <div ng-if="status == '005005'">
     <section class="numbers">
         <section  class="numbers_button">
             <span ng-click="changeOther()" class="hover"><a href="javascript:">选择其他款</a></span>
             <span ng-click="dropBarter()" class="hover"><a href="javascript:">放弃换款 </a></span>
         </section>
     </section>

     <main class="content bottom amputate" style="margin-top: 20px"><!-- 选中input 在这里添加 “amputate” 显示删除按钮 -->



         <div ng-if="isNotData" class="isNotDataHint">
             <i class="iconfont icon-cry1"></i>
             <p>购物车暂无商品</p>
         </div>
         <section class="cart" ng-repeat="item in cartlist.pagingList" id="list">
    	<span class="check">
        <input id="{{item.gcid}}" type="checkbox"  ng-model="m[item.gcid]" ng-checked = "select_one" ng-click="selectOne(item.gcid)"/>
		<label for="{{item.gcid}}" class="check_label" ng-class="{true:'on',false:''}[item.checkflag]">
            <i class="checkbox_icon"></i>
        </label>
        </span>
             <span class="cart_pic"><a href="#/gooddetail/{{item.goodId}}"><img ng-src="{{item.bannerurl}}"></a></span>
             <section class="cart_main">
                 <span class="title"><a href="#/gooddetail/{{item.goodId}}">{{item.title.length>15?item.title.substr(0,15)+"....":item.title}}</a></span>
                 <section class="cart_price">
                     <em style="color: #000;">专柜价： {{item.gprice | currency:'￥'}}</em>
                 </section>
                 <span class="color">
                <font ng-if="item.exprice*item.num>item.price">换此款  补：{{item.exprice*item.num-item.price | currency:'￥'}}</font>
                <font ng-if="item.exprice*item.num<=item.price" ng-style="{color: '#FE2E2E'}">换此款  剩：{{item.price-item.exprice*item.num | currency:'￥'}}</font>
            </span>
                 <section class="cart_price">
                 <span class="addto">
                	<a class="icon" href="" ng-click="updateamount(item.gcid,-1)">&#xe603;</a>
                    <input  type="text" ng-model="item.num" ng-blur="changenamount(item.gcid)" />
                	<a class="iconfont icon-add" href="" ng-click="updateamount(item.gcid,1)"></a>
                </span>
                 </section>

             </section>

         </section>
         <section class="delete" ng-if="delFlag"><a ng-click="del()"><i class="icon">&#xe721;</i><em>删除</em></a></section>
         <section class="amount"><a><i class="icon"></i><em>我的余额：{{balance|currency:"￥"}}</em></a></section>
     </main>


     <!-- FOOTER -->
     <footer class="submit">


	<span class="check">
        <input id="all" type="checkbox" ng-model="select_all" ng-click="selectAll()"/>
		<label for="all" class="check_label"  ng-class="{true:'on',false:''}[checkAllflag]">
            <i class="checkbox_icon"></i>
        </label>
        <em>全选</em>
    </span>
         <span class="total">预选合计：￥{{totalprice|number:2}}</span>
         <a href="javascript:void(0);"  ng-click="bill()" >付款<i>({{totalnum}})</i></a>
     </footer>

     <!-- 提示 -->
     <section class="mask" ng-if="rmFlag">
         <section class="layer prompt">
             <p>确定要删除选中的商品？</p>
             <section class="submit">
                 <a href="" ng-click="confirm()">确定</a>
                 <a href="" ng-click="cancle()">取消</a>
             </section>
         </section>
     </section>

 </div>
