<!-- title -->
<section class="process_title"ng-switch on="pagetheme">
    <i ng-switch-when="recycle">产品回收</i>
    <i ng-switch-when="exchange">产品换款</i>
</section>

<main class="content" ng-switch on="pagetheme">

    <!-- 回收流程 -->
    <section class="process" ng-switch-when="recycle">
        <b class="right"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li>
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li>
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li>
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
            <li>
                <span><i class="t14"></i></span>
                <em>确认回收</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
        </ul>
    </section>

    <!--换款流程 -->
    <section class="process fanx" ng-switch-when="exchange">
        <b class="right"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="kuen"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li>
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li>
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li>
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>邮寄</em>
            </li>
            <li>
                <span><i class="t11"></i></span>
                <em>确认换款</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

   	<!-- TAB -->
   	<section id="tad" class="product_tab">
    	<a class="hover" onclick="javascript:test_item(0);" href="javascript:">贵金属</a>
    	<a onclick="javascript:test_item(1);" href="javascript:">钻石产品</a>
    </section>

    <!-- 贵金属 -->
    <section id="test0" class="metal" style="overflow: hidden">
        <section class="product_tab four"></section>

        <!-- 贵金属参数 -->
        <section class="swiper-wrapper">
            <!-- 黄金 -->
            <section class="swiper-slide">
                <dl class="parameter">
                    <dt>请输入贵金属参数</dt>
                    <dd>
                        <u>类型：</u>
                        <span>
                            <input select2 ng-model="goldType" select2-model="selectedGoldType" config="goldTypeConfig" class="form-control" type="text" ng-change="getGoldPurity(goldType)"/>
                        </span>
                    </dd>
                    <dd>
                        <u>纯度：</u>
                        <span>
                            <input select2 ng-model="goldPurity" select2-model="selectedGoldPurity" config="goldPurityConfig" class="form-control" type="text"/>
                        </span>
                    </dd>
                    <dd>
                        <u>克重：</u>
                        <span><input ng-model="goldWeight" placeholder="请填写" type="number"/></span>
                        <em>克</em>
                    </dd>
                </dl>
                <section class="load parameter_buttom">
                    <a ng-click="calcPMPrice(1)">估价</a>
                    <!--<a ng-href="#/{{pagetheme}}evaluationresult/">估价</a>-->
                </section>
            </section>

            <!-- 铂金 -->
            <section class="swiper-slide">
                <dl class="parameter">
                    <dt>请输入贵金属参数</dt>
                    <dd>
                        <u>纯度：</u>
                        <span>
                            <input select2 ng-model="boPurity" select2-model="selectedBoPurity" config="boPurityConfig" class="form-control" type="text"/>
                        </span>
                    </dd>
                    <dd>
                        <u>克重：</u>
                        <span><input ng-model="boWeight" placeholder="请填写" type="number"></span>
                        <em>克</em>
                    </dd>
                </dl>
                <section class="load parameter_buttom">
                    <a ng-click="calcPMPrice(2)">估价</a>
                </section>
            </section>

            <!-- K金 -->
            <section class="swiper-slide">
                <dl class="parameter">
                    <dt>请输入贵金属参数</dt>
                    <dd>
                        <u>纯度：</u>
                        <span>
                            <input select2 ng-model="kPurity" select2-model="selectedKPurity" config="kPurityConfig" class="form-control" type="text"/>
                        </span>
                    </dd>
                    <dd>
                        <u>克重：</u>
                        <span><input ng-model="kWeight" placeholder="请填写" type="number"></span>
                        <em>克</em>
                    </dd>
                </dl>
                <section class="load parameter_buttom">
                    <a ng-click="calcPMPrice(3)">估价</a>
                </section>

            </section>

            <!-- 钯金 -->
            <section class="swiper-slide">
                <dl class="parameter">
                    <dt>请输入贵金属参数</dt>
                    <dd>
                        <u>纯度：</u>
                        <span>
                            <input select2 ng-model="baPurity" select2-model="selectedBaPurity" config="baPurityConfig" class="form-control" type="text"/>
                        </span>
                    </dd>
                    <dd>
                        <u>克重：</u>
                        <span><input ng-model="baWeight" placeholder="请填写" type="number"></span>
                        <em>克</em>
                    </dd>
                </dl>
                <section class="load parameter_buttom">
                    <a ng-click="calcPMPrice(4)">估价</a>
                </section>
            </section>

            <!-- 白银 -->
            <section class="swiper-slide">
                <dl class="parameter">
                    <dt>请输入贵金属参数</dt>
                    <dd>
                        <u>类型：</u>
                        <span>
                            <input select2 ng-model="silverType" select2-model="selectedSilverType" config="silverTypeConfig" class="form-control" type="text" ng-change="getSilverPurity(silverType)"/>
                        </span>
                    </dd>
                    <dd>
                        <u>纯度：</u>
                        <span>
                            <input select2 ng-model="silverPurity" select2-model="selectedSilverPurity" config="silverPurityConfig" class="form-control" type="text"/>
                        </span>
                    </dd>
                    <dd>
                        <u>克重：</u>
                        <span><input ng-model="silverWeight" placeholder="请填写" type="number"></span>
                        <em>克</em>
                    </dd>
                </dl>
                <section class="load parameter_buttom">
                    <a ng-click="calcPMPrice(5)">估价</a>
                </section>
            </section>
        </section>

        <!-- 今日金价 -->
        <section class="gold">
            <span class="title">今日金价</span>
            <ul>
                <li ng-repeat='item in dayprice| filter: {name: "!18K金"}'>{{item.name}}：{{item.price}}元/克</li>
            </ul>
            <p>注：金价以上交所当天为准，回收价格只需要减掉折旧费用。</p>
        </section>
    </section>

    <!-- 钻石产品 -->
    <section id="test1" class="hide">

        <!-- 钻石产品参数 -->
        <dl class="parameter">
            <dt>请输入钻石产品参数</dt>
            <dd>
                <u>主石重量：</u>
                <span><input placeholder="请填写" type="number" ng-model="mainWeight"></span>
                <em>克拉</em>
            </dd>
            <dd  ng-switch-when="exchange">
                <u>更换：</u>
                <span class="check">
                <input id="1" type="radio" name="choose" value="1" checked="checked" ng-click="change($event)" />
                <label for="1" class="check_label on">
                    <i class="checkbox_icon"></i>
                </label>
                <b>换主石</b>
                </span>
                <span class="check">
                <input id="2" type="radio" name="choose" value="2" ng-click="change($event)"  />
                <label for="2" class="check_label">
                    <i class="checkbox_icon"></i>
                </label>
                <b>不换主石</b>
                </span>
            </dd>
            <dd ng-class="{true:'show',false:'hide'}[choice]">
                <u>证书：</u>
                <span>
                    <input select2 ng-model="certificate" select2-model="selectedCertificate" config="certificateConfig" class="form-control" type="text"/>
                </span>
            </dd>
            <dd ng-class="{true:'show',false:'hide'}[choice]">
                <u>颜色：</u>
                <span>
                    <input select2 ng-model="color" select2-model="selectedColor" config="colorConfig" class="form-control" type="text"/>
                </span>
            </dd>
            <dd ng-class="{true:'show',false:'hide'}[choice]">
                <u>净度：</u>
                <span>
                    <input select2 ng-model="cleaness" select2-model="selectedCleaness" config="cleanessConfig" class="form-control" type="text"/>
                </span>
            </dd>
            <dd ng-class="{true:'show',false:'hide'}[choice]">
                <u>荧光：</u>
                <span>
                    <input select2 ng-model="florescence" select2-model="selectedFlorescence" config="florescenceConfig" class="form-control" type="text"/>
                </span>
            </dd>
            <dd ng-class="{true:'show',false:'hide'}[choice]">
                <u>切工：</u>
                <u ng-style={"padding-top":"4px","padding-right":"10px"}>
                    <input select2 ng-model="cut" select2-model="selectedCut" config="cutConfig" class="form-control" type="text"/>
                </u>
                <u ng-style={"padding-top":"4px","padding-right":"10px"}>
                    <input select2 ng-model="symmetry" select2-model="selectedSymmetry" config="symmetryConfig" class="form-control" type="text"/>
                </u>
                <u ng-style={"padding-top":"4px"}>
                    <input select2 ng-model="polish" select2-model="selectedPolish" config="polishConfig" class="form-control" type="text"/>
                </u>
            </dd>
            <dd>
                <u>镶嵌材质：</u>
                <span>
                    <input select2 ng-model="material" select2-model="selectedMaterial" config="materialConfig" class="form-control" type="text"/>
                </span>
            </dd>
            <dd>
                <u>副石重量：</u>
                <span><input placeholder="请填写" type="number" ng-model="secWeight"></span>
                <em>克拉</em>
            </dd>
            <dd>
                <u>副石品质：</u>
                <span>
                    <input select2 ng-model="quality" select2-model="selectedQuality" config="qualityConfig" class="form-control" type="text"/>
                </span>
            </dd>
            <dd>
                <u>产品总重：</u>
                <span><input placeholder="请填写" type="number" ng-model="totalWeight"></span>
                <em>克</em>
            </dd>
        </dl>
        <section class="load parameter_buttom">
            <a  ng-click="calcDiamondPrice()">估价</a>
        </section>
    </section>

    <!-- 回收案例 -->
    <section class="buy_recovery" ng-switch-when="recycle">
    	<span class="title">回收案例</span>
        <ul>
            <li>
            	<a href="">
                <span class="pic"><img src="images/com/01.jpg"></span>
                <span class="text">
            		<em>材质：黄金</em>
            		<em>重量：1000g</em>
                    <i>变现：1000.00元</i>
                </span>
                </a>
            </li>
            <li>
            	<a href="">
                <span class="pic"><img src="images/com/01.jpg"></span>
                <span class="text">
            		<em>材质：黄金</em>
            		<em>重量：1000g</em>
                    <i>变现：1000.00元</i>
                </span>
                </a>
            </li>
            <li>
            	<a href="">
                <span class="pic"><img src="images/com/01.jpg"></span>
                <span class="text">
            		<em>材质：黄金</em>
            		<em>重量：1000g</em>
                    <i>变现：1000.00元</i>
                </span>
                </a>
            </li>
            <li>
            	<a href="">
                <span class="pic"><img src="images/com/01.jpg"></span>
                <span class="text">
            		<em>材质：黄金</em>
            		<em>重量：1000g</em>
                    <i>变现：1000.00元</i>
                </span>
                </a>
            </li>
        </ul>
    </section>

    <!-- 可换款 -->
    <section class="change" ng-switch-when="exchange">
        <span class="title">
        	<em>可换款式</em>
        	<a ng-href="#/morestyle">更多款式</a>
        </span>
        <ul class="change_main">
            <li>
                <section class="collection_main">
                    <span class="pic"><a href=""><img src="images/com/03.jpg"></a></span>
                    <section class="text">
                        <h2><a href="">范琦14K金戒指女男情侣对戒14K黄...</a></h2>
                        <span class="price">
                            <em>剩：￥150.00</em>
                            <em>补：￥150.00</em>
                        </span>
                    </section>
                </section>
            </li>
            <li>
                <section class="collection_main">
                    <span class="pic"><a href=""><img src="images/com/03.jpg"></a></span>
                    <section class="text">
                        <h2><a href="">范琦14K金戒指女男情侣对戒14K黄...</a></h2>
                        <span class="price">
                            <em>剩：￥150.00</em>
                            <em>补：￥150.00</em>
                        </span>
                    </section>
                </section>
            </li>
            <li>
                <section class="collection_main">
                    <span class="pic"><a href=""><img src="images/com/03.jpg"></a></span>
                    <section class="text">
                        <h2><a href="">范琦14K金戒指女男情侣对戒14K黄...</a></h2>
                        <span class="price">
                            <em>剩：￥150.00</em>
                            <em>补：￥150.00</em>
                        </span>
                    </section>
                </section>
            </li>
            <li>
                <section class="collection_main">
                    <span class="pic"><a href=""><img src="images/com/03.jpg"></a></span>
                    <section class="text">
                        <h2><a href="">范琦14K金戒指女男情侣对戒14K黄...</a></h2>
                        <span class="price">
                            <em>剩：￥150.00</em>
                            <em>补：￥150.00</em>
                        </span>
                    </section>
                </section>
            </li>
        </ul>
    </section>

    <!-- 换款案例 -->
    <section class="case" ng-switch-when="exchange">
        <section class="process_title"><i>换款案例</i></section>
        <ul>
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>换款前</em>
            </li>
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>换款后</em>
            </li>
            <li>
                <i>仅收</i>
                <i>￥1980.00</i>
            </li>
        </ul>
        <ul>
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>换款前</em>
            </li>
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>换款后</em>
            </li>
            <li>
                <i>仅收</i>
                <i>￥1980.00</i>
            </li>
        </ul>
    </section>

    <!-- 换款需知 -->
    <section class="need" ng-switch-when="exchange">
        <span class="title">换款需知</span>
        <p>赵某玩了一会儿杜某的手机，发现杜某电脑鼠标下有一张写着一串类似密码数字的小纸条，他迅速打开杜某的微信，给自己微信发了一元钱红包，纸条上的数字竟然就是微信支付的密码。赵某喜出望外，分三次将杜某微信里的三百多元以红包形式发给了</p>
    </section>
</main>

<script type="text/javascript" language="javascript">
function test_item(n){
	var menu = document.getElementById("tad");
	var menuli = menu.getElementsByTagName("a");
	for(var i = 0; i< menuli.length;i++){
		menuli[i].className= "";
		menuli[n].className="hover";
		document.getElementById("test"+ i).className = "hide";
		document.getElementById("test"+ n).className = "metal";
	}
}
</script>

