<!-- title -->
<section class="process_title">
    <i>服务进度</i>
</section>

<main class="content">
    <section class="logistics" style="margin-top: 0;">
        <span class="title"><a>订单编号：</a><a>{{orderno}}</a></span>
        <span class="title"><a>下单时间：</a><a>{{orderInfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</a></span>
    </section>
    <!-- 服务进度-->
        <section class="logistics" ng-switch on="orderType">
            <ul ng-switch-when="001">
                <li ng-if="orderInfo.orderstatus>='001010'" ng-class="{true:'hover'}[orderInfo.orderstatus=='001010']"><i></i><em>您的订单已取消</em></li>
                <li ng-if="orderInfo.orderstatus>='001009'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='001009']"><i></i><em>感谢您的评价，订单已完成</em></li>
                <li ng-if="orderInfo.orderstatus>='001008'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='001008']"><i></i><em>您的订单已签收<font ng-if="orderInfo.orderstatus=='001008'">，<a ng-href="#/procaddcmt/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;评价我们的服务</font></em></li>
                <li ng-if="orderInfo.orderstatus>='001007'&&normalflag&&orderInfo.getway=='001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='001007']"><i></i><em>商品已出发，等待您的签收，<a ng-href="#/proccheck/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;查看其翻新后的样式</em></li>
                <li ng-if="orderInfo.orderstatus>='001007'&&normalflag&&orderInfo.getway=='002'" ng-class="{true:'hover'}[orderInfo.orderstatus=='001007']"><i></i><em>商品翻新已完成，请尽快到店领取，<a ng-href="#/proccheck/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;查看其翻新后的样式</em></li>
                <li ng-if="orderInfo.orderstatus>='001006'&&normalflag&&orderInfo.getway=='001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='001006']"><i></i><em>商品翻新已完成，准备返回，<a ng-href="#/procpost/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;查看收货物流动态</em></li>
                <li ng-if="orderInfo.orderstatus>='001005'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='001005']"><i></i><em>商品检测已完成，下一步将进行翻新，<a ng-href="#/checkReport/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;查看检测报告</em></li>
                <li ng-if="orderInfo.orderstatus>='001004'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='001004']"><i></i><em>门店已收到您的商品，下一步将进行无损检测，<a ng-href="#/proctest/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;查看收货证明</em></li>
                <li ng-if="orderInfo.orderstatus>='001003'&&normalflag&&orderInfo.sendway=='001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='001003']"><i></i><em>您的发货物流信息已完善，等待门店收货</em></li>
                <li ng-if="orderInfo.orderstatus>='001002'&&normalflag&&orderInfo.sendway=='001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='001002']"><i></i><em>付款成功，请尽快将商品邮寄到门店，<a ng-href="#/procreceivefor{{orderno}}with{{orderType}}">点击这里</a>&nbsp;填写物流信息并可随时追踪其动态</em></li>
                <li ng-if="orderInfo.orderstatus>='001002'&&normalflag&&orderInfo.sendway=='002'" ng-class="{true:'hover'}[orderInfo.orderstatus=='001002']"><i></i><em>付款成功，请尽快将商品送到门店，并填写详细信息</em></li>
            </ul>
            <ul ng-switch-when="002">
                <li ng-if="orderInfo.orderstatus>='002011'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002009']"><i></i><em>感谢您的评价，订单已完成</em></li>
                <li ng-if="orderInfo.orderstatus>='002010'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002008']"><i></i><em>您的订单已签收</em></li>
                <li ng-if="orderInfo.orderstatus>='002009'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002007']"><i></i><em><a ng-href="#/proccheck/{{orderType}}/{{orderno}}">门店已发货（通知），等待客户收货（取货）</a></em></li>
                <li ng-if="orderInfo.orderstatus>='002008'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002006']"><i></i><em><a ng-href="#/procpost/{{orderType}}/{{orderno}}">宝贝维修已完成，等待返回</a></em></li>
                <li ng-if="orderInfo.orderstatus>='002007'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002005']"><i></i><em><a ng-href="#/checkReport/{{orderType}}/{{orderno}}">宝贝检测已完成，等待维修</a></em></li>
                <li ng-if="orderInfo.orderstatus>='002006'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002004']"><i></i><em><a ng-href="#/proctest/{{orderType}}/{{orderno}}">门店已收到您的宝贝，等待无损检测</a></em></li>
                <li ng-if="orderInfo.orderstatus>='002005'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002003']"><i></i><em><a  ng-href="#/procreceivefor{{orderno}}with{{orderType}}">物流信息已填写，等待门店收货（可无）</a></em></li>
                <li ng-if="orderInfo.orderstatus>='002004'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002004']"><i></i><em>付款成功，请将宝贝尽快送到门店，并填写详细信息</em></li>
                <li ng-if="orderInfo.orderstatus>='002003'" ng-class="{true:'hover'}[orderInfo.orderstatus=='002003']"><i></i><em>您的订单已确认，等待付款</em></li>
                <li ng-if="!normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='002011']"><i></i><em>您的订单已取消</em></li>
                <li ng-if="orderInfo.orderstatus>='002002'" ng-class="{true:'hover'}[orderInfo.orderstatus=='002002']"><i></i><em><a ng-href="#/procfixprice/repair/{{orderno}}">实际维修金额已确定，戳此查看详情</a></em></li>
                <li ng-if="orderInfo.orderstatus>='002001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='002001']"><i></i><em>下单成功，等待门店审核维修金额</em></li>
            </ul>
            <ul ng-switch-when="003">
                <li ng-if="orderInfo.orderstatus>='003010'" ng-class="{true:'hover'}[orderInfo.orderstatus=='003010']"><i></i><em>您的订单已取消</em></li>
                <li ng-if="orderInfo.orderstatus>='003009'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='003009']"><i></i><em>感谢您的评价，订单已完成</em></li>
                <li ng-if="orderInfo.orderstatus>='003008'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='003008']"><i></i><em>您的订单已签收<font ng-if="orderInfo.orderstatus=='003008'">，<a ng-href="#/procaddcmt/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;评价我们的服务</font></em></li>
                <li ng-if="orderInfo.orderstatus>='003007'&&normalflag&&orderInfo.getway=='002'" ng-class="{true:'hover'}[orderInfo.orderstatus=='003007']"><i></i><em>无损检测已完成，请尽快到店领取您的商品，查看检测报告，请&nbsp;<a ng-href="#/checkReport/{{orderType}}/{{orderno}}">点击这里</a>；查看翻新后的样式，请&nbsp;<a ng-href="#/proccheck/{{orderType}}/{{orderno}}">点击这里</a></em></li>
                <li ng-if="orderInfo.orderstatus>='003007'&&normalflag&&orderInfo.getway=='001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='003007']"><i></i><em>商品已出发，等待您的签收，查看其翻新后的样式，请&nbsp;<a ng-href="#/proccheck/{{orderType}}/{{orderno}}">点击这里</a>；查看收货物流动态，请&nbsp;<a ng-href="#/procpost/{{orderType}}/{{orderno}}">点击这里</a></em></li>
                <li ng-if="orderInfo.orderstatus>='003006'&&normalflag&&orderInfo.getway=='001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='003006']"><i></i><em>商品检测已完成，准备返回，<a ng-href="#/checkReport/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;查看检测报告</em></li>
                <li ng-if="orderInfo.orderstatus>='003004'&&normalflag" ng-class="{true:'hover'}[orderInfo.orderstatus=='001004']"><i></i><em>门店已收到您的商品，下一步将进行无损检测，<a ng-href="#/proctest/{{orderType}}/{{orderno}}">点击这里</a>&nbsp;查看收货证明</em></li>
                <li ng-if="orderInfo.orderstatus>='003003'&&normalflag&&orderInfo.sendway=='001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='003003']"><i></i><em>您的发货物流信息已完善，等待门店收货</em></li>
                <li ng-if="orderInfo.orderstatus>='003002'&&normalflag&&orderInfo.sendway=='001'" ng-class="{true:'hover'}[orderInfo.orderstatus=='003002']"><i></i><em>付款成功，请尽快将商品邮寄到门店，<a ng-href="#/procreceivefor{{orderno}}with{{orderType}}">点击这里</a>&nbsp;填写物流信息并可随时追踪其动态</em></li>
                <li ng-if="orderInfo.orderstatus>='003002'&&normalflag&&orderInfo.sendway=='002'" ng-class="{true:'hover'}[orderInfo.orderstatus=='003002']"><i></i><em>付款成功，请尽快将商品送到门店，并填写详细信息</em></li>
            </ul>
            <ul ng-switch-when="004">
            </ul>
            <ul ng-switch-when="005">
            </ul>
        </section>
</main>
