<!-- title -->
<section class="process_title"  ng-switch on="pagetheme">
    <i ng-switch-when="refurbish">产品翻新</i>
    <i ng-switch-when="repair">产品维修</i>
    <i ng-switch-when="detect">产品检测</i>
    <i ng-switch-when="recycle">产品回收</i>
    <i ng-switch-when="exchange">产品换款</i>
</section>

<main class="content" ng-switch on="pagetheme">

    <!-- 翻新流程 -->
    <section class="process" ng-switch-when="refurbish">
        <b class="right"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验证</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li>
                <span><i class="t11"></i></span>
                <em>翻新</em>
            </li>
        </ul>
    </section>

    <!-- 维修流程 -->
    <section class="process fanx" ng-switch-when="repair">
        <b class="right"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="sec"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t10"></i></span>
                <em>定价</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li>
                <span><i class="t12"></i></span>
                <em>维修</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

    <!-- 检测流程 -->
    <section class="process testing" ng-switch-when="detect">
        <b class="right"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验证</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

    <!-- 回收流程 -->
    <section class="process" ng-switch-when="recycle">
        <b class="right"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
            <li>
                <span><i class="t14"></i></span>
                <em>回收</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
        </ul>
    </section>

    <!--换款流程 -->
    <section class="process fanx" ng-switch-when="exchange">
        <b class="right huan"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="sec"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>门店收货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照交货</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>
    <!-- 单号 TAB -->
	<section class="numbers">
    	<section class="numbers_list">
            <span>
                <i>订单号:</i>
                <em>{{orderInfo.orderno}}</em>
            </span>
            <span>
                <i>下单时间:</i>
                <em>{{orderInfo.create_time | date:'yyyy-MM-dd HH:mm'}}</em>
            </span>
        </section>
        <section id="tad" class="numbers_button">
            <span ng-click="showwuliuInfo(0)" ng-class="{hover:jinflag}"><a href="javascript:">收货物流</a></span>
            <span ng-click="showwuliuInfo(1)" ng-class="{hover:myflag}"><a href="javascript:">发货物流 </a></span>
        </section>
    </section>

	<!-- 金乐乐物流 -->
	<section class="{{jinlele}}">
        <section class="address">
            <a href="javascript:">
                <span class="title">
                    <em>{{orderInfo.name}}</em>
                    <em>{{orderInfo.phone}}</em>
                </span>
                <p>收货地址：{{orderInfo.address}}</p>
            </a>
        </section>
        <section class="logistics">
            <span class="title">物流详情</span>
            <ul>
                <li><i></i><em>暂无物流信息</em></li>
            </ul>
        </section>
	</section>
    
    <!-- 我的物流 -->
    <section class="{{mine}}">
        <section class="address">
            <a href="javascript:">
                <span class="title">
                    <em>{{orderInfo.user_name}}</em>
                    <em>{{orderInfo.tel_number}}</em>
                </span>
                <p>收货地址：{{orderInfo.province_name}} {{orderInfo.city_name}}{{orderInfo.country_name}} {{orderInfo.detail_info}}</p>
            </a>
        </section>
        <section class="logistics">
            <span class="title">物流详情</span>
            <ul>
                <li ng-if="userLogistc.length == 0"><i></i><em>暂无物流信息</em></li>
                <li ng-if="userLogistc.length != 0"  ng-repeat="item in userLogistc | orderBy:'-AcceptTime'" ng-class="{hover:$index==0}" >
                    <i></i>
                    <em>{{item.AcceptTime}} {{item.AcceptStation}}</em>
                </li>
            </ul>
        </section>
    </section>

    <!-- 收货证明 -->
    <section class="prove shouhuo" ng-if="certificationInfo.length!=0">
        <p><font>收货证明</font><br/>六唯壹收到<i>{{user.nickname}}</i>（微信账号）送来的宝贝，如右图；此宝贝只用作<font ng-if="pagetheme=='refurbish'">翻新</font><font ng-if="pagetheme=='repair'">维修</font><font ng-if="pagetheme=='detect'">检测</font><font ng-if="pagetheme=='recycle'">回收</font><font ng-if="pagetheme=='exchange'">换款</font>业务。</p>
        <span><img ng-click="previewImg(certificationInfo.imgurl)"  ng-src="{{certificationInfo.imgurl}}"></span>
        <section class="prove_bottom">
            <em>特此声明</em>
            <u><img   src="images/seal.png"></u>
            <i>金乐乐珠宝有限公司</i>
            <i>{{certificationInfo.create_time|date:'yyyy年MM月dd日'}}</i>
        </section>
    </section>
    <!--二维码-->
    <section class="qr_code">
        <span class="title">感谢您选择我们的服务</span>
        <span class="title ash">服务电话：400-888-8888</span>
        <!--<span class="pic"><img src="images/com/ewm.jpg"></span>-->
        <!--<span class="title ash">长按图片 识别二维码关注我们的微信公众号</span>-->
    </section>


</main>
