<!-- title -->
<section class="process_title" ng-switch on="pagetheme">
    <i ng-switch-when="refurbish">产品翻新</i>
    <i ng-switch-when="repair">产品维修</i>
    <i ng-switch-when="detect">产品检测</i>
    <i ng-switch-when="recycle">产品回收</i>
    <i ng-switch-when="exchange">产品换款</i>
</section>

<main class="content submit" ng-switch on="pagetheme">

    <!-- 翻新流程 -->
    <section class="process" ng-switch-when="refurbish">
        <b class="right"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li>
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li>
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验证</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照邮寄</em>
            </li>
            <li>
                <span><i class="t11"></i></span>
                <em>翻新</em>
            </li>
        </ul>
    </section>

    <!-- 维修流程 -->
    <section class="process fanx" ng-switch-when="repair">
        <b class="right"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="sec"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>定价</em>
            </li>
            <li>
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li>
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照邮寄</em>
            </li>
            <li>
                <span><i class="t12"></i></span>
                <em>维修</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

    <!-- 检测流程 -->
    <section class="process testing" ng-switch-when="detect">
        <b class="right"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li>
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li>
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>拍照邮寄</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验证</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

    <!-- 回收流程 -->
    <section class="process" ng-switch-when="recycle">
        <b class="right"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li>
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li>
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
            <li>
                <span><i class="t14"></i></span>
                <em>确认回收</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
        </ul>
    </section>

    <!--换款流程 -->
    <section class="process fanx" ng-switch-when="exchange">
        <b class="right"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="kuen"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li>
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li>
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li>
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li>
                <span><i class="t06"></i></span>
                <em>邮寄</em>
            </li>
            <li>
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li>
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t11"></i></span>
                <em>确认换款</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价换款</em>
            </li>
        </ul>
    </section>

    <!-- 产品信息 -->
    <div ng-repeat="items in productArr" ng-switch-when="repair">
        <dl class="add_product">
            <dd>
                <em>产品材质：</em>
                <span>
                    <input select2 ng-model="product.firstCatogoryId[$index]" select2-model="selectedStuff" config="stuffConfig" class="form-control" type="text" ng-change="getSecondCatogories($index)" required/>
                </span>
            </dd>
            <dd>
                <em>产品类别：</em>
                <span>
                    <input select2 ng-model="product.secondCatogoryId[$index]" select2-model="selectedType" config="typeConfig" class="form-control" type="text" required/>
                </span>
            </dd>
            <dd>
                <em>维修项目：</em>
                <span>
                    <input select2 ng-model="product.repairItemValue[$index]" select2-model="selectedRepair" config="repairConfig" class="form-control" type="text" required/>
                </span>
            </dd>
            <dd>
                <em>数量：</em>
                <span><input placeholder="数量" type="text" ng-model="product.num[$index]" ng-blur="numblur()" check-form ng-change="checkForm(product.num[$index],'数量填写有误','positivenumber','')" required></span>
            </dd>
            <dd>
                <em>备注：</em>
                <span><input placeholder="备注内容..." type="text" ng-model="product.memo[$index]" required></span>
            </dd>
        </dl>
    </div>


    <!-- 拍照 -->
    <section class="photograph">
        <ul>
            <!--<wx-img ng-repeat="per in localIds"></wx-img>-->
            <li ng-repeat="per in localIds">
                <span><wx-img></wx-img></span>
                <a class="icon" href="">&#xe721;</a>
            </li>
            <li ng-click="wxchooseImage()"><i class="iconfont icon-add"></i></li>
        </ul>
        <p><textarea class="desc" ng-model="service.descrip" rows="5" placeholder="请描述产品..."></textarea></p>


    </section>

    <!-- 翻新案例 -->
    <section class="case" ng-switch-when="refurbish">
        <section class="process_title"><i>翻新案例</i></section>
        <ul>
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>翻新前</em>
            </li>
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>翻新后</em>
            </li>
            <li>
                <i>仅收</i>
                <i>￥{{service.price | number:2}}</i>
            </li>
        </ul>
        <ul>
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>翻新前</em>
            </li>
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>翻新后</em>
            </li>
            <li>
                <i>仅收</i>
                <i>￥{{service.price | number:2}}</i>
            </li>
        </ul>
    </section>
    <!-- 检测案例 -->
    <section class="case" ng-switch-when="detect">
        <section class="process_title"><i>检测案例</i></section>

        <ul class="detect">
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>检测产品1</em>
            </li>
            <li>
                <i>仅收</i>
                <i>￥{{service.price | number:2}}</i>
            </li>
        </ul>
        <ul class="detect">
            <li>
                <span><img src="images/com/03.jpg"></span>
                <em>检测产品2</em>
            </li>
            <li>
                <i>仅收</i>
                <i>￥{{service.price | number:2}}</i>
            </li>
        </ul>
    </section>

    <section class="submit">
        <a href="#/procfixprice/{{pagetheme}}" ng-if="localflag">下一步</a>
        <!--<a href="#/proccommitorder/{{pagetheme}}"  ng-if="!localflag">下一步</a>-->
        <a ng-click="proccommitorder(pagetheme)">下一步</a>
    </section>
</main>
