<link rel="stylesheet" href="css/select.css" />
<!-- title -->
<section class="process_title" ng-switch on="pagetheme">
    <i ng-switch-when="refurbish">产品翻新</i>
    <i ng-switch-when="repair">产品维修</i>
    <i ng-switch-when="detect">产品检测</i>
    <i ng-switch-when="exchange">产品换款</i>
</section>

<main class="content" ng-switch on="pagetheme">

    <!-- 翻新流程 -->
    <section class="process" ng-switch-when="refurbish">
        <b class="right huan"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
            <li class="hover">
                <span><i class="t07"></i></span>
                <em>收货验证</em>
            </li>
            <li class="hover">
                <span><i class="t06"></i></span>
                <em>拍照邮寄</em>
            </li>
            <li class="hover">
                <span><i class="t11"></i></span>
                <em>翻新</em>
            </li>
        </ul>
    </section>

    <!-- 维修流程 -->
    <section class="process fanx" ng-switch-when="repair">
        <b class="right huan"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="sec"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t10"></i></span>
                <em>定价</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li class="hover">
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li class="hover">
                <span><i class="t06"></i></span>
                <em>拍照邮寄</em>
            </li>
            <li class="hover">
                <span><i class="t12"></i></span>
                <em>维修</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

    <!-- 检测流程 -->
    <section class="process testing" ng-switch-when="detect">
        <b class="right huan"></b>
        <b class="left"></b>
        <ul>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t02"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li class="hover">
                <span><i class="t06"></i></span>
                <em>拍照邮寄</em>
            </li>
            <li class="hover">
                <span><i class="t07"></i></span>
                <em>收货验证</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价</em>
            </li>
        </ul>
    </section>

    <!--换款流程 -->
    <section class="process fanx" ng-switch-when="exchange">
        <b class="right huan"></b>
        <b class="left seu"></b>
        <b class="muye"></b>
        <b class="kuen"></b>
        <ul>
            <li class="hover">
                <span><i class="t13"></i></span>
                <em>估价</em>
            </li>
            <li class="hover">
                <span><i class="t01"></i></span>
                <em>拍照</em>
            </li>
            <li class="hover">
                <span><i class="t09"></i></span>
                <em>提交订单</em>
            </li>
            <li class="hover">
                <span><i class="t03"></i></span>
                <em>平台收货</em>
            </li>
            <li class="hover">
                <span><i class="t07"></i></span>
                <em>收货验收</em>
            </li>
            <li class="hover">
                <span><i class="t06"></i></span>
                <em>邮寄</em>
            </li>
            <li class="hover">
                <span><i class="t10"></i></span>
                <em>实际定价</em>
            </li>
            <li class="hover">
                <span><i class="t04"></i></span>
                <em>检测</em>
            </li>
            <li>
                <span><i class="t11"></i></span>
                <em>确认换款</em>
            </li>
            <li>
                <span><i class="t08"></i></span>
                <em>评价换款</em>
            </li>
        </ul>
    </section>

    <!-- 单号 TAB -->
	<section class="numbers">
    	<section class="numbers_list">
            <span>
                <i>订单号:</i>
                <em>{{orderNo}}</em>
            </span>
            <span>
                <i>下单时间:</i>
                <em>{{orderTime | date:'yyyy-MM-dd HH:mm'}}</em>
            </span>
        </section>
        <section id="tad" class="numbers_button">
            <span ng-click="showwuliuInfo(0)" ng-class="{hover:jinflag}"><a href="javascript:">金乐乐物流</a></span>
            <span ng-click="showwuliuInfo(1)" ng-class="{hover:myflag}"><a href="javascript:">我的物流 </a></span>
        </section>
    </section>

    <!-- 金乐乐物流 -->
    <section class="{{jinlele}}">
        <section class="address">
            <a href="javascript:">
                <span class="title">
                    <em>金乐乐收货地址</em>
                    <em>15872325323</em>
                </span>
                <p>收货地址：广州市内寄快递费用回程车往返物流白云区太和收货网点广州市内寄快递费用</p>
            </a>
        </section>
        <section class="logistics">
            <span class="title">物流详情</span>
            <ul>
                <li class="hover">
                    <i></i>
                    <em>广州市内寄快递费用回程车往返物流白云区太和收货网点广州市内寄快递费用</em>
                </li>
                <li>
                    <i></i>
                    <em>广州市内寄快递费用回程车往返物流白云区太和收货网点广州市内寄快递费用</em>
                </li>
                <li>
                    <i></i>
                    <em>广州市内寄快递费用回程车往返物流白云区太和收货网点广州市内寄快递费用</em>
                </li>
                <li>
                    <i></i>
                    <em>广州市内寄快递费用回程车往返物流白云区太和收货网点广州市内寄快递费用</em>
                </li>
            </ul>
        </section>
    </section>

    <!-- 我的物流 -->
    <section class="{{mine}}">
        <section class="address">
            <a href="javascript:">
                <span class="title">
                    <em>{{initData.user_name}}</em>
                    <em>{{initData.tel_number}}</em>
                </span>
                <p>收货地址：{{initData.province_name}} {{initData.city_name}}{{initData.country_name}} {{initData.detail_info}}</p>
            </a>
        </section>
        <section class="logistics">
            <span class="title">物流详情</span>
            <ul>
                <li  ng-repeat="item in userLogistc | orderBy:'-AcceptTime'" ng-class="{hover:$index==0}" >
                    <i></i>
                    <em>{{item.AcceptTime}} {{item.AcceptStation}}</em>
                </li>
            </ul>
        </section>
    </section>
    
	<!-- 验货 -->
    <section class="report">
        <section class="report_mian"><img src="images/com/sh01.jpg"></section>
    </section>
</main>


<script type="text/javascript" language="javascript"> 
function test_item(n){
	var menu = document.getElementById("tad");
	var menuli = menu.getElementsByTagName("span");
	for(var i = 0; i< menuli.length;i++){
		menuli[i].className= "";
		menuli[n].className="hover";
		document.getElementById("test"+ i).className = "hide";
		document.getElementById("test"+ n).className = "retrofit";
	}
}
</script>
