<section class="process_title">
    <i>绑定手机号码</i>
</section>
<main class="content submit">
    <dl class="add_product" ng-if="!showinfo">
        <dd>
            <em>手机号码：</em>
            <span>{{user.phone}}</span>
        </dd>
    </dl>
    <dl class="add_product" ng-if="showinfo">
        <dd>
            <em>手机号码：</em>
            <span><input placeholder="请输入手机号码" type="text" ng-model="user.phone"/></span>
        </dd>
    </dl>
    <section class="numbers" ng-if="showinfo">
        <section class="code_button">
            <span><input placeholder="短信验证码" type="text" ng-model="user.code"></span>
            <em><a href="javascript:void(0);" ng-click="opendisabled||getMsgcode(user.phone)" ng-disabled="opendisabled" ng-class="{hover:active}" >{{btninfo}}</a></em>
        </section>
    </section>
    <section class="submit" ng-if="showinfo"><a href="" ng-click="bindingphone(user.phone,user.code)">确认绑定</a></section>
</main>
