<main class="content bottom">


	<div ng-if="noDataFlag" class="isNotDataHint">
		<i class="iconfont icon-cry1"></i>
		<p>暂无数据</p>
	</div>

    <section class="list_take" ng-repeat="item in arr">
    	<section class="title">
        	<em>提现金额</em>
        	<em>{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</em>
        </section>
        <section class="money">
        	<span class="money_title">
            	<em>{{item.money}}</em>
            	<i>元</i>
            </span>
        	<u>{{item.dealname}}</u>
        </section>
	</section>

	<!--<section class="load"><a href="">加载更多</a></section>-->
</main>

<footer class="bottom">
	<a href="#/main"><i class="icon">&#xe653;</i><em>首页</em></a>
	<a href="#/category/"><i class="icon">&#xe658;</i><em>分类</em></a>
	<a href="#/shoppingcart"><i class="icon">&#xe68d;</i><em>购物车</em></a>
	<a class="hover" href="#/member"><i class="icon">&#xe625;</i><em>会员</em></a>
</footer>
