
<main class="content" >
    <!-- 分类 -->
    <section id="fenlei" class="classification" >
    	<ul ng-repeat="item in catogory">
        	<li  ng-class="{hover:item.id==catogoryid}" ng-click="init.getSecondCatogories(item.id)">
            	<span><img ng-src="{{item.bannerurl}}"></span>
            	<em>{{item.name}}</em>
            </li>
        </ul>
    </section>

    <!-- 栏目 -->
    <section id="leibie" class="category">
        <span class="title">热门品类</span>
        <section class="leibie_list" >
        	<a  ng-repeat="item in secondCatogories" ng-click="init.findGoods(item.id)">
            	<span><img ng-src="{{item.bannerurl}}"></span>
            	<em>{{item.name}}</em>
            </a>
        	<!--<a href="">-->
            	<!--<span><img src="images/com/01.jpg"></span>-->
            	<!--<em>戒指</em>-->
            <!--</a>-->
        	<!--<a href="">-->
            	<!--<span><img src="images/com/01.jpg"></span>-->
            	<!--<em>手链</em>-->
            <!--</a>-->
        	<!--<a href="">-->
            	<!--<span><img src="images/com/01.jpg"></span>-->
            	<!--<em>钻石戒指</em>-->
            <!--</a>-->
        	<!--<a href="">-->
            	<!--<span><img src="images/com/01.jpg"></span>-->
            	<!--<em>项链</em>-->
            <!--</a>-->
        	<!--<a href="">-->
            	<!--<span><img src="images/com/01.jpg"></span>-->
            	<!--<em>钻石耳钉</em>-->
            <!--</a>-->
        </section>

        <span class="title">热门单品</span>
        <section class="list">
            <section class="list_main" ng-repeat="item in goods">
                    <span class="pic"><a href=""><img ng-src="{{item.hotimgurl}}"></a></span>
                    <section class="text">
                        <p><a href="#/gooddetail/{{item.id}}">{{item.title}}</a></p>
                        <em>￥{{item.price}}</em>
                        <a class="icon" href="">&#xe68d;</a>
                    </section>
            </section>
        </section>
    </section>
    
</main>

<!-- FOOTER -->
<footer class="bottom">
	<a href="#/main">
        <i class="icon">&#xe653;</i>
        <em>首页</em>
    </a>
	<a class="hover" href="#/category/1">
        <i class="icon">&#xe658;</i>
        <em>分类</em>
    </a>
	<a href="#/shoppingcart">
        <i class="icon">&#xe68d;</i>
        <em>购物车</em>
        <u>{{cartTotalNum}}</u>
    </a>
	<a href="#/member">
        <i class="icon">&#xe625;</i>
        <em>会员</em>
    </a>
</footer>

