<main class="content bottom">
    <!-- 添加地址 -->
    <section class="address add" ng-if="show">
        <i class="icon">&#xe617;</i>
        <a href="">
    	<span class="title">
        	<em>收货人：{{address.userName}}</em>
        	<em>{{address.telNumber}}</em>
        </span>
            <p>收货地址：{{address.provinceName}}{{address.cityName}}{{address.countryName}}{{address.detailInfo}}</p>
        </a>
    </section>
    <section class="numbers">
        <section id="tad" class="numbers_button">
            <span style="width: 100%" ng-click="wxopenAddress()"><a href="javascript:">添加收货地址</a></span>
        </section>
    </section>
    <!-- 商品列表 -->
    <section class="check object">
        <span class="title">商品列表</span>
        <section class="product_list">
            <section class="product"  ng-repeat="item in selectinfo">
                <span class="pic"><a href=""><img ng-src="{{item.imgurl}}"></a></span>
                <section class="text">
                    <p><a href="#/gooddetail/{{item.gcid}}">{{item.title}}</a></p>
                    <span>颜色分类：{{item.color}}</span>
                </section>
                <section class="price_1">
                    <em>{{item.saleprice | currency:'￥'}}</em>
                    <i>X {{item.num}}</i>
                </section>
            </section>
        </section>
        <section class="check_main">
        	<em>共{{totalnum}}件商品</em>
        	<em>合计：<i>{{totalprice | currency:'￥'}}</i></em>
        </section>
    </section>
</main>
<!-- FOOTER -->
<footer class="submit">
    <span class="total">合计：{{totalprice | currency:'￥'}}</span>
	<a href="javascript:void(0);" ng-click="submitorder()">提交订单</a>
</footer>