<main class="content" >
<!-- 产品图 -->
<main class="banner">
	<!--<ul class="swiper-wrapper">-->
	<ul class="swiper-wrapper" >
   	<!--<li class="swiper-slide"><img src="images/com/cp_1.jpg"></li>-->

  	</ul>
    <section class="spot"></section>
</main>

<!-- 基本信息 -->
<section class="essential">
	<h1>{{goodDetail.title}} </h1>
	<section class="essential_main">
    	<em>{{price | currency:'￥'}}</em>
    	<em>{{goodDetail.oldprice | currency:'￥'}}</em>
        <span>
        	<i>评价({{goodcommentcount}})</i>
        	<i>库存({{stocknum}})</i>
        </span>
    </section>
    <ul>
    	<li >
        	<em>颜色分类：</em>
        	<span class="colour"  >
                <toggle-color e-obj="goodChilds" stock-num="stocknum"  gooddetail-num="gooddetail.num" price="price" goodchild-id="gooddetail.goodchildId">
            	<a  href="" ng-repeat="item in goodChilds" ng-class="{true:'hover'}[item.flag]" attr="{{$index}}">{{item.color}}{{item.weight?"【"+item.weight+"】":""}}{{item.material}} {{item.mainstorespec}}{{item.handsize?"【"+item.handsize+"】":""}}{{item.necklace_len?"【"+item.necklace_len+"】":""}}{{item.bracelet_len?"【"+item.bracelet_len+"】":""}}</a>
                </toggle-color>
            </span>
        </li>
    	<li>
        	<em>数量：</em>
           	<span class="amount">
            	<a class="icon" href="" ng-click="minusNum()">&#xe603;</a>
                <input  type="text" ng-model="gooddetail.num" ng-change="changeNum()">
                <a class="iconfont icon-add" href="" ng-click="addNum()"></a>
           	</span>
        </li>
    </ul>
</section>

<!-- 评论 -->
<section class="comment_list">
	<a class="title" href="javascript:void(0);">
    	<em>商品评价</em>
    	<i class="icon">&#xe722;</i>
    </a>
    <section class="comment_list_main" ng-repeat="item in goodcomments.pagingList">
    	<span class="title">
        	<img ng-src="{{item.headimgurl}}"/>
        	<em>{{item.nickname}}</em>
            <i>{{item.create_time|date:'yyyy.MM.dd'}}</i>
        </span>
        <p>{{item.content}}</p>
    </section>
    <a class="more" href="" ng-if="goodcomments.pagingList.length==0">暂无评价</a>
	<a class="more" href="" ng-if="goodcomments.pagingList.length>0">查看全部评价<i class="icon">&#xe722;</i></a>
</section>

<!-- 商品详情 -->
<section class="depict_week">
	<span class="title">商品详情</span>
	<span class="picture" ng-bind-html="goodDetail.description"></span>
</section>
</main>
<!-- FOOTER -->
<footer class="add_submit">
	<span class="check">
        <a class="hover" ng-style="menuWidth" href="#/main"><i class="icon">&#xe653;</i><em>首页</em></a>
         <a ng-click="fav()"   ng-class="{favcolor:favcontent=='已收藏'}" ng-style="menuWidth"> <i class="iconfont icon-wodeshoucang"></i><em >{{favcontent}}</em></a>
        <a href="#/shoppingcart" ng-style="menuWidth">
			<i class="icon">&#xe68d;</i><em>购物车</em>
			<u>{{totalnum}}</u>
		</a>
        <a ng-if="goodDetail.canchange==0"  ng-click="changThis()" style="line-height: 50px;background: #F5D000;color: #fff;text-align: center;">换此款</a>
    </span>
	<a class="cart" ng-click="addtocart()">加入购物车</a>
</footer>

