
<main class="content square swiper-container"><!-- square 方形 -->
    <section class="ranking ">
        <span></span>
        <a class="icon button" href="javascript:"></a>
    </section>

    <section class="swiper-wrapper">
        <!-- 综合 -->
        <section class="swiper-slide" >
            <section class="product_list ">
                <section class="product" ng-repeat="item in goodList.pagingList">
                    <span class="pic"><a href=""><img ng-src="{{item.bannerurl}}"></a></span>
                    <section class="text">
                        <p><a ng-href="#/gooddetail/{{item.id}}" >{{item.title}}</a></p>
                        <em>优惠：{{item.oldprice-item.price | currency:'￥'}}</em>
                        <em>销售价：{{item.oldprice | currency:'￥'}}</em>
                        <a class="icon" href="">&#xe68d;</a>
                    </section>
                </section>
            </section>
            <section class="load"><a href="">加载更多</a></section>
        </section>

        <!-- 最新 -->
        <section class="swiper-slide"  >
            <section class="product_list">
                <section class="product" ng-repeat="item in goodList.pagingList" >
                    <span class="pic"><a href=""><img ng-src="{{item.bannerurl}}"></a></span>
                    <section class="text">
                        <p><a ng-href="#/gooddetail/{{item.id}}" >{{item.title}}</a></p>
                        <em>优惠：{{item.oldprice-item.price | currency:'￥'}}</em>
                        <em>销售价：{{item.oldprice | currency:'￥'}}</em>
                        <a class="icon" href="">&#xe68d;</a>
                    </section>
                </section>
            </section>
            <section class="load"><a href="">加载更多</a></section>
        </section>

        <!-- 价格 -->
        <section class="swiper-slide">
            <section class="product_list">
                <section class="product" ng-repeat="item in goodList.pagingList | orderBy : 'saleprice'">
                    <span class="pic"><a href=""><img ng-src="{{item.bannerurl}}"></a></span>
                    <section class="text">
                        <p><a ng-href="#/gooddetail/{{item.id}}" >{{item.title}}</a></p>
                        <em>优惠：{{item.oldprice-item.price | currency:'￥'}}</em>
                        <em>销售价：{{item.oldprice | currency:'￥'}}</em>
                        <a class="icon" href="">&#xe68d;</a>
                    </section>
                </section>
            </section>
            <section class="load"><a href="">加载更多</a></section>
        </section>
    </section>

</main>

<script>

    $('a.button').click(function() {
        if (
            $('.content').hasClass('square')) {
            $('.content').removeClass('square');
        }else{
            $('.content').addClass('square');
        }
    });

    var mySwiper = new Swiper('.content',{
        pagination: '.ranking span',
        paginationClickable: true,
        //autoHeight: true,
        paginationBulletRender: function (index, className) {
            switch (index) {
                case 0: name='综合';break;
                case 1: name='最新';break;
                case 2: name='价格';break;
                default: name='';
            }
            return '<a  ng-click="test('+index+')" href="javascript:" class="' + className + '">' + name + '</a>';
        }
    });
</script>