
<!-- 产品图 -->
<main class="banner">
	<ul class="swiper-wrapper">
    	<li class="swiper-slide"><img ng-src="{{goodDetail.bannerurl}}"></li>
<!--    	<li class="swiper-slide"><img src="images/com/cp_1.jpg"></li>
    	<li class="swiper-slide"><img src="images/com/cp_1.jpg"></li>-->
  	</ul>
    <section class="spot"></section>
</main>

<!-- 基本信息 -->
<section class="essential">
	<h1>{{goodDetail.title}} </h1>
	<section class="essential_main">
    	<em>{{goodDetail.saleprice | currency:'￥'}}</em>
    	<em>{{goodDetail.discprice | currency:'￥'}}</em>
        <span>
        	<i>评价442</i>
        	<i>库存{{goodDetail.stocknum}}</i>
        </span>
    </section>
    <ul>
    	<li>
        	<em>颜色：</em>
        	<span class="colour">
            	<a class="hover" href="">白色</a>
            	<a href="">白色</a>
            	<a href="">白色</a>
            </span>
        </li>
    	<li>
        	<em>数量：</em>
           	<span class="amount">
            	<a class="icon" href="" ng-click="minusNum()">&#xe603;</a>
                <input  type="text" ng-model="gooddetail.num" ng-change="changeNum(gooddetail.num)">
                <a class="icon" href="" ng-click="addNum()">&#xe600;</a>
           	</span>
        </li>
    </ul>
</section>

<!-- 评论 -->
<section class="comment_list">
	<a class="title" href="#/addcomment">
    	<em>商品评价</em>
    	<i class="icon">&#xe722;</i>
    </a>
    <section class="comment_list_main">
    	<span class="title">
        	<img src="images/com/00001.jpg">
        	<em>张三丰</em>
            <i>2016.02.25</i>
        </span>
        <p>曝光于网友11日发布的一段1分多钟的短视频。该视频显示，事发时一名年轻警员同一名坐在警车驾驶室内的警员疑似因查车开罚单事件引发言语争执。</p>
    </section>
    <a class="more" href="">查看全部18条评价<i class="icon">&#xe722;</i></a>
</section>

<!-- 商品详情 -->
<section class="depict_week">
	<span class="title">商品详情</span>
	<span class="picture" ng-bind-html="goodDetail.description"></span>
</section>

<!-- FOOTER -->
<footer class="add_submit">
	<span class="check">
        <a class="hover" href="#/main"><i class="icon">&#xe653;</i><em>首页</em></a>
        <a href="#/exchange"><i class="icon">&#xe602;</i><em>换款</em></a>
        <a href="#/shoppingcart">
        	<i class="icon">&#xe68d;</i><em>购物车</em>
        	<u>{{totalnum}}</u>
        </a>
    </span>
	<a class="cart" ng-click="addtocart()">加入购物车</a>
</footer>

