<!-- title -->
<section class="process_title">
    <i>物流追踪</i>
</section>

<main class="content">
    <!-- 单号 TAB -->
    <section class="numbers">
        <section class="numbers_list">
            <span>
                <i>订单号:</i>
                <em>{{orderNo}}</em>
            </span>
            <span>
                <i>下单时间:</i>
                <em>{{orderinfo.create_time | date:'yyyy-MM-dd HH:mm'}}</em>
            </span>
        </section>
        <section id="tad" class="numbers_button">
            <span ng-click="showwuliuInfo(0)" ng-class="{hover:jinflag}"><a href="javascript:">收货物流</a></span>
            <span ng-click="showwuliuInfo(1)" ng-class="{hover:myflag}"><a href="javascript:">发货物流 </a></span>
        </section>
    </section>
    <!-- 我的物流 -->
    <section class="{{mine}}">
        <section class="logistics" ng-if="orderinfo.userlogisticsno != null&&orderinfo.userlogisticsno.length!=0">
            <span class="title"><a>物流详情</a><a style="float:right;padding-right: 10px;" ng-href="#/orderlist">我的订单</a></span>
            <span class="title"><a>承运公司：</a><a>{{orderinfo.usrLogisticsCompName}}</a><a  style="float: right;padding-right: 10px;"  ng-if="userLogistc.length == 0" ng-click="editUsrLogisticsInfo()">修改</a></span>
            <span class="title"><a>运单编号：</a><a>{{orderinfo.userlogisticsno}}</a> </span>
            <ul>
                <li ng-if="userLogistc.length == 0"><i></i><em>暂无物流信息</em></li>
                <li ng-if="userLogistc.length != 0"  ng-repeat="item in userLogistc | orderBy:'-AcceptTime'" ng-class="{hover:$index==0}" >
                    <i></i>
                    <em>{{item.AcceptTime}} {{item.AcceptStation}}</em>
                </li>
            </ul>
        </section>
        <section class="express" ng-if="orderinfo.userlogisticsno == null||orderinfo.userlogisticsno.length==0">
            <ul>
                <li>
                    <u>物流公司：</u>
                    <span>
                        <input select2 ng-model="order.userlogisticsnoComp" select2-model="selectedModel" config="userlogisticsnoConfig" class="form-control" type="text"  required/>
                    </span>
                </li>
                <li>
                    <u>快递单号：</u>
                    <span><input placeholder="请填写您的快递单号" type="number" ng-model="order.userlogisticsno"   class="logisticsno"/></span>
                    <a href="" ng-click="saveExpress()">提交</a>
                </li>
            </ul>
        </section>
    </section>
    <!-- 金乐乐物流 -->
    <section class="{{jinlele}}">
        <section class="logistics">
            <span class="title"><a>物流详情</a><a style="float:right;padding-right: 10px;" ng-href="#/orderlist">我的订单</a></span>
            <span  class="title"><a>承运公司：</a><a>{{orderinfo.logisticsCompName}}</a></span>
            <span  class="title"><a>运单编号：</a><a>{{orderinfo.logisticsno}}</a></span>
            <ul>
                <li ng-if="sellerLogistc == null"><i></i><em>暂无物流信息</em></li>
                <li ng-if="sellerLogistc != null"  ng-repeat="item in sellerLogistc | orderBy:'-AcceptTime'" ng-class="{hover:$index==0}" >
                    <i></i>
                    <em>{{item.AcceptTime}}&nbsp;{{item.AcceptStation}}</em>
                </li>
            </ul>
        </section>
    </section>
</main>
