<ion-view>
    <!-- BANNER -->
    <ion-content overflow-scroll="false" has-bouncing="true">
        <ion-refresher on-refresh="getNewProducts(0)" pulling-text="下拉更新"></ion-refresher>

        <main class="banner">
            <ul class="swiper-wrapper">
                <!--<li class="swiper-slide"><a href=""><img src="images/com/001.jpg"></a></li>-->
            </ul>
            <section class="spot"></section>
        </main>
        <!-- BANNER END -->

        <!-- 搜索 -->
        <section class="search">
            <span class="search_main"><input placeholder="您要搜索的内容..." ng-model="search" type="text"></span>
            <a class="icon" ng-click="searchquery(search)">&#xe60a;</a>
        </section>

        <!-- 主功能 -->
        <section class="column">
            <a ng-href="#/procphoto/refurbish"><i><img src="images/column@_01.png"></i><em>翻新</em></a>
            <a ng-href="#/procphoto/repair"><i><img src="images/column@_02.png"></i><em>维修</em></a>
            <a ng-href="#/procphoto/detect"><i><img src="images/column@_03.png"></i><em>检测</em></a>
            <a ng-href="#/evaluate/recycle/"><i><img src="images/column@_04.png"></i><em>回收</em></a>
            <a ng-href="#/evaluate/exchange/"><i><img src="images/column@_05.png"></i><em>换款</em></a>
        </section>

        <!-- 材质 -->
        <section class="nav">
            <a ng-repeat="item in indexinfo.firstCatogory" ng-href="#/category/{{item.id}}">
                <i ng-bind="item.name"></i>
                <em><img ng-src="{{item.bannerurl}}"></em>
            </a>
        </section>

        <!-- 栏目类型 -->
        <section class="assortment">
            <ul>
                <li ng-repeat="item in indexinfo.secondCatogory"><a href="#/goodlist/{{item.name}}">{{item.name}}</a></li>
            </ul>
        </section>

        <!-- 新品推荐 -->
        <section class="recommend">
            <span class="title"><i>新品推荐</i></span>
            <ul>
                <li ng-repeat="item in indexinfo.newProducts">
                    <a ng-href="#/gooddetail/{{item.id}}">
                        <span class="pic"><img ng-src="{{item.bannerurl}}"></span>
                        <span class="text">{{item.title}}</span>
                        <em>{{item.price | currency:'￥'}}</em>
                        <i class="icon">&#xe68d;</i>
                    </a>
                </li>
            </ul>
        </section>

        <!-- 产品列表 -->
        <main class="list">
            <section class="list_main" ng-repeat="item in newProductsinfo">
                <a ng-href="#/gooddetail/{{item.id}}">
                    <span class="pic"><img ng-src="{{item.hotimgurl}}"></span>
                    <span class="text">{{item.title}}</span>
                    <p>{{item.shortinfo}}</p>
                    <span class="price">
                        <em>现价：{{item.price}}</em>
                        <em>原价：{{item.oldprice}}</em>
                        <i class="icon">&#xe68d;</i>
                    </span>
                </a>
            </section>
        </main>
        <ion-infinite-scroll on-infinite="getNewProducts()" ng-if="total > page"  immediate-check="false"></ion-infinite-scroll>
    </ion-content>
    <footer class="bottom">
        <a class="hover" href=""><i class="icon">&#xe653;</i><em>首页</em></a>
        <a href="#/category/1"><i class="icon">&#xe658;</i><em>分类</em></a>
        <a href="#/shoppingcart"><i class="icon">&#xe68d;</i><em>购物车</em><u>{{cartTotalNum}}</u></a>
        <a href="#/member"><i class="icon">&#xe625;</i><em>会员</em></a>
    </footer>
</ion-view>



