<dl class="add_product">
    <dd>
        <em>订单类型：</em>
        <span>
            <input select2 ng-model="type" select2-model="selectedModel" config="config" class="form-control" type="text" ng-change="getOrderLists(0)"/>
        </span>
    </dd>
</dl>

<div ng-if="noDataFlag" class="isNotDataHint">
    <i class="iconfont icon-cry1"></i>
    <p>暂无数据</p>
</div>


<!-- 商城订单 -->
<main class="content swiper-container">
    <section class="swiper-wrapper">
        <!-- 未支付 -->
        <section class="swiper-slide">
            <section class="check" ng-repeat="item in orderlistsinfo">
                <span class="check_title">
                    <i>{{item.create_time|date:'yyyy-MM-dd HH:mm'}}</i>
                    <i>{{item.ordertype}}</i>
                    <em>{{item.orderstatus}}</em>
                </span>
                <!--商城订单-->
                <section class="product_list" ng-repeat="subitem in item.child" ng-if="item.type == '006'">  <!--商城订单-->
                    <section class="product">
                        <span class="pic"><a  ng-click="previewImg(subitem.bannerurl)"><img ng-src="{{subitem.bannerurl}}"></a></span>
                        <section class="text" ng-click="orderdetail(item.orderno,item.type,item.shoporderstatusCode)">
                            <p><a>{{subitem.title}}</a></p>
                            <span>颜色分类：{{subitem.color}}</span>
                        </section>
                        <section class="price_1" ng-click="orderdetail(item.orderno,item.type,item.shoporderstatusCode)">
                            <em>{{subitem.dealprice | currency:'￥'}}</em>
                            <i>X {{subitem.buynum}}</i>
                        </section>
                    </section>
                </section>
                <!--服务类订单-->
                <section class="product_list" ng-if="item.type != '006'">
                    <section class="product">
                        <span class="pic"><a  ng-click="previewImg(item.pictures)" ng-repeat="imgurl in item.pictures"><img ng-src="{{imgurl.url}}" ng-if="$index==0"></a></span>
                        <section class="text" ng-repeat="subitem in item.products">
                            <span style="font-size: 86%;color: #393939;padding-top: 0;"><a  ng-click="servicedetail(item.orderno , item.type ,item.shoporderstatusCode)">{{subitem.categoryName}}</a></span>
                            <p style="font-size: 76%;color: #6E6E6E;" ng-if="subitem.memo">备注：{{subitem.memo}}</p>
                        </section>
                        <section class="price_1">
                            <i>X {{item.totalnum}}</i>
                        </section>
                    </section>
                </section>
                <!--商城订单按钮-->
                <section class="check_button" ng-switch on="item.shoporderstatusCode">
                        <span>
                            <em>共{{item.totalnum}}件商品</em>
                            <em ng-if="item.totalprice!=null&&item.totalprice!=0">合计：<i>{{(item.totalprice+item.freightprice) | currency:'￥'}}</i>(含运费{{item.freightprice | currency:'￥'}})</em>
                        </span>
                        <span ng-switch-when="001001">
                            <!--<a href="">联系卖家</a>-->
                            <a href="javascript:void(0);" ng-click="cancelOrder(item.orderno,item.type)">取消订单</a>
                            <a class="strike" ng-click="weixinPay(item.orderno , item.totalprice,item.type,item.shoporderstatusCode)">付款</a>
                        </span>
                        <span ng-switch-when="001007">
                            <a class="strike" ng-click="orderdetail(item.orderno,item.type,item.shoporderstatusCode)">查看物流</a>
                            <a class="strike" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>
                            <!--<a ng-href="#/returnapply/{{item.orderno}}">退款</a>-->
                        </span>
                        <span  ng-switch-when="001008">
                            <a class="strike" ng-href="#/procaddcmt/{{item.type}}/{{item.orderno}}">评价</a>
                        </span>
                        <span ng-switch-when="002003">
                            <!--<a href="">联系卖家</a>-->
                            <a href="javascript:void(0);" ng-click="cancelOrder(item.orderno,item.type)">取消订单</a>
                            <a class="strike" ng-click="weixinPay(item.orderno , item.totalprice,item.type,item.shoporderstatusCode)">付款</a>
                        </span>
                        <span ng-switch-when="002008">
                            <a class="strike" ng-click="orderdetail(item.orderno,item.type,item.shoporderstatusCode)">查看物流</a>
                            <a class="strike" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>
                        </span>
                        <span  ng-switch-when="002009">
                            <!--<a ng-href="#/returnapply/{{item.orderno}}">退款</a>-->
                            <a class="strike" ng-href="#/procaddcmt/{{item.type}}/{{item.orderno}}">评价</a>
                        </span>
                        <span ng-switch-when="003001">
                            <!--<a href="">联系卖家</a>-->
                            <a href="javascript:void(0);" ng-click="cancelOrder(item.orderno,item.type)">取消订单</a>
                            <a class="strike" ng-click="weixinPay(item.orderno , item.totalprice,item.type,item.shoporderstatusCode)">付款</a>
                        </span>
                        <span ng-switch-when="003007">
                            <a class="strike" ng-click="orderdetail(item.orderno,item.type,item.shoporderstatusCode)">查看物流</a>
                            <a class="strike" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>
                            <!--<a ng-href="#/returnapply/{{item.orderno}}">退款</a>-->
                        </span>
                        <span  ng-switch-when="003008">
                            <a class="strike" ng-href="#/procaddcmt/{{item.type}}/{{item.orderno}}">评价</a>
                        </span>
                        <span ng-switch-when="004005">
                            <a href="javascript:void(0);" ng-click="cancelOrder(item.orderno,item.type)">取消订单</a>
                        </span>
                        <span ng-switch-when="004010">
                            <a class="strike" ng-click="orderdetail(item.orderno,item.type,item.shoporderstatusCode)">查看物流</a>
                            <a class="strike" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>
                            <!--<a ng-href="#/returnapply/{{item.orderno}}">退款</a>-->
                        </span>
                        <span  ng-switch-when="004007">
                            <a class="strike" ng-href="#/procaddcmt/{{item.type}}/{{item.orderno}}">评价</a>
                        </span>
                        <!--商城-->
                        <span ng-switch-when="001">
                            <a href="javascript:void(0);" ng-click="cancelOrder(item.orderno,item.type)">取消订单</a>
                            <a class="strike" ng-click="weixinPay(item.orderno , item.totalprice,item.type,item.shoporderstatusCode)">付款</a>
                        </span>
                        <span ng-switch-when="003">
                            <a class="strike" ng-click="orderdetail(item.orderno,item.type,item.shoporderstatusCode)">查看物流</a>
                            <a class="strike" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>
                        </span>
                        <span  ng-switch-when="004">
                            <a class="strike" ng-href="#/addcomment/{{item.orderno}}">评价</a>
                            <a ng-href="#/returnapply/{{item.orderno}}">退款</a>
                        </span>
                </section>
                <!--&lt;!&ndash;商城订单按钮&ndash;&gt;-->
                <!--<section class="check_button" ng-if="item.type=='006'">-->
                        <!--<span>-->
                            <!--<em>共{{item.totalnum}}件商品</em>-->
                            <!--<em>合计：<i>{{(item.totalprice+item.freightprice) | currency:'￥'}}</i>(含运费{{item.freightprice | currency:'￥'}})</em>-->
                        <!--</span>-->
                        <!--<span ng-if="item.shoporderstatusCode=='001'">-->
                            <!--&lt;!&ndash;<a href="">联系卖家</a>&ndash;&gt;-->
                            <!--<a href="javascript:void(0);" ng-click="cancelOrder(item.orderno,item.type)">取消订单</a>-->
                            <!--<a class="strike" ng-click="weixinPay(item.orderno , item.totalprice,item.type,item.shoporderstatusCode)">付款</a>-->
                        <!--</span>-->
                        <!--<span ng-if="item.shoporderstatusCode=='003'">-->
                            <!--<a class="strike" ng-click="orderdetail(item.orderno,item.type,item.shoporderstatusCode)">查看物流</a>-->
                            <!--<a class="strike" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>-->
                            <!--&lt;!&ndash;<a ng-href="#/returnapply/{{item.orderno}}">退款</a>&ndash;&gt;-->
                        <!--</span>-->
                        <!--<span ng-if="item.shoporderstatusCode=='004'">-->
                            <!--<a class="strike" ng-href="#/addcomment/{{item.orderno}}">评价</a>-->
                        <!--</span>-->
                <!--</section>-->
                <!--&lt;!&ndash;服务类订单按钮&ndash;&gt;-->
                <!--<section class="check_button" ng-if="item.type!='006'">-->
                        <!--<span>-->
                            <!--<em>共{{item.totalnum}}件商品</em>-->
                            <!--<em ng-if="item.totalprice!=0">合计：<i>{{(item.totalprice+item.freightprice) | currency:'￥'}}</i>(含运费{{item.freightprice | currency:'￥'}})</em>-->
                        <!--</span>-->
                        <!--<span >-->
                            <!--&lt;!&ndash;<a href="">联系卖家</a>&ndash;&gt;-->
                            <!--<a  ng-click="procreceive(item.type,item.orderno,item.create_time,item.shoporderstatusCode,item.totalprice)">服务进度</a>-->
                            <!--<a  ng-click="servicedetail(item.orderno , item.type ,item.shoporderstatusCode)">详情</a>-->
                            <!--<a href="javascript:void(0);" ng-click="cancelOrder(item.orderno,item.type)">取消订单</a>-->
                            <!--<a ng-if="item.shoporderstatusCode.substring(3,6) == '001'" class="strike" ng-click="weixinPay(item.orderno , item.totalprice,item.type,item.shoporderstatusCode)">付款</a>-->
                            <!--<a class="strike" ng-if="item.shoporderstatusCode=='001007'" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>-->
                            <!--<a class="strike" ng-if="item.shoporderstatusCode=='002008'" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>-->
                            <!--<a class="strike" ng-if="item.shoporderstatusCode=='003007'" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>-->
                            <!--<a class="strike" ng-if="item.shoporderstatusCode=='005012'" ng-click="confirmReceive(item.type,item.orderno)">确认收货</a>-->
                        <!--</span>-->
                        <!--<span ng-if="item.shoporderstatusCode=='003'">-->
                            <!--<a ng-href="#/orderdetail{{item.orderno}}">查看物流</a>-->
                            <!--<a ng-href="#/returnapply/{{item.orderno}}">退款</a>-->
                        <!--</span>-->
                <!--</section>-->
            </section>
        </section>
    </section>
    <section class="collection_load" ng-click="getOrderLists()" ng-if="moreFlag"><a href="">加载更多</a></section>
</main>





