
<main class="content bottom">

	<section class="oddnumbers">
    	<em>订单编号：{{orderinfo.orderno}}</em>
    	<i>{{orderinfo.showuserstatus}}</i>
    </section>
    
    <!-- 添加地址 -->
	<section class="address add">
        <i class="icon">&#xe617;</i>
        <a href="javascript:">
    	<span class="title">
        	<em>收货人：{{address.userName}}</em>
        	<em>{{address.telNumber}}</em>
        </span>
        <p>收货地址：{{address.provinceName}}{{address.cityName}}{{address.countryName}}{{address.detailInfo}}</p>
        </a>
    </section>
    
    <!-- 商品列表 -->
    <section class="check object">
        <span class="title">商品列表</span>
        <section class="product_list">
            <section class="product" ng-repeat="item in orderdetail.info">
                <span class="pic"><a href=""><img ng-src="{{item.imgurl}}"></a></span>
                <section class="text">
                    <p><a href="#/gooddetail/{{item.goodid}}">{{item.title}}</a></p>
                    <span>颜色分类：{{item.color}}</span>
                </section>
                <section class="price_1">
                    <em>{{item.saleprice|currency:'￥'}}</em>
                    <i>X {{item.buynum}}</i>
                </section>
            </section>
        </section>
        <section class="check_main">
        	<a href=""><i class="icon">&#xe66c;</i><u>联系客服</u></a>
        </section>
    </section>
    
    <section class="order_xq">
        <ul>
        	<li><em>商品总额：</em><i>{{orderinfo.totalprice|currency:'￥'}}</i></li>
        	<li><em>运费：</em><i>{{orderinfo.freightprice|currency:'￥'}}</i></li>
            <li><em>订单总额：</em><i>{{(orderinfo.totalprice+orderinfo.freightprice)|currency:'￥'}}</i></li>
        	<li ng-show="orderinfo.actualpayprice!=null"><em>实付款：</em><i>{{orderinfo.actualpayprice}}</i></li>
        	<li><u>下单时间：{{orderinfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</u></li>
        </ul>
    </section>
    
    <!-- 物流信息 -->
    <section class="logistics" ng-if="orderinfo.shoporderstatusCode!='001'">
    	<span class="title">物流信息</span>
    	<ul>
        	<li class="hover"> 
            	<i></i>
            	<em>您的订单正在处理</em>
            </li>
        </ul>
    </section>
</main>

<section class="button">
    <span><a href="" ng-click="cancleorder(orderinfo.orderno)">取消订单</a></span>
    <span ng-if="orderinfo.shoporderstatusCode=='001'"><a ng-click="weixinPay(orderinfo.orderno,orderinfo.totalprice)">立即支付</a></span>
	<span ng-if="orderinfo.shoporderstatusCode!='001'"><a href="#/payresult/{{orderinfo.orderno}}">再次下单</a></span>
</section>