<main class="content bottom">
    <!-- 收货地址 -->
    <section class="address add address_tan">
        <a href="javascript:">
    	<span class="title">
        	<em>收货人：{{address.userName}}</em>
        	<em>{{address.telNumber}}</em>
        </span>
            <p>收货地址：{{address.provinceName}}{{address.cityName}}{{address.countryName}}{{address.detailInfo}}</p>
        </a>
    </section>

    <section class="order_xq">
        <ul>
            <li ng-if="orderinfo.actualpayprice==null"><em>总金额：</em><i style="font-size: 120%;">{{orderinfo.totalprice|currency:'￥'}}</i></li>
            <li ng-show="orderinfo.actualpayprice!=null"><em>实付金额：</em><i style="font-size: 120%;">{{orderinfo.actualpayprice|currency:'￥'}}</i></li>
        </ul>
    </section>
    <!-- 支付进度 -->
    <section class="logistics">
        <span class="title">支付进度</span>
        <ul>
            <li ng-repeat="item in process" ng-class="{hover:item.len==process.length}">
                <i></i>
                <em>{{item.value}}</em>
            </li>
        </ul>
    </section>

    <!-- 订单状态 -->
    <section class="order">
    	<span class="title">
        	<i>订单状态</i>
        	<em>{{orderinfo.showuserstatus}}</em>
        </span>
        <ul>
            <li><em>订单编号：</em><em>{{orderinfo.orderno}}</em></li>
            <li><em>创建时间：</em><em>{{orderinfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</em></li>
            <li ng-if="orderinfo.update_time!=null"><em>付款时间：</em><em>{{orderinfo.update_time|date:'yyyy-MM-dd HH:mm:ss'}}</em></li>
        </ul>
    </section>
</main>

<section class="button">
    <span><a ng-click="orderdetail(orderinfo.orderno,order.orderType,orderinfo.shoporderstatusCode)" >查看订单</a></span>
    <span><a ng-href="#/orderlist">订单列表&nbsp;<i class="icon" style="color: #fff;">&#xe722;</i></a></span>
</section>
