
<!-- 内容 -->
<main class="content">
    <!--<section class="feedback">-->
    	<!--<textarea placeholder="请输入提现金额" ng-model="content"></textarea>-->
		<!--<span class="feedback_button"><a href="" ng-click="subSuggest()">确认提交</a></span>-->
    <!--</section>-->
    <dl class="add_product" >
        <dd>
            <em>充值金额：</em>
            <span><input placeholder="充值金额(单位：元)" type="number" ng-model="rechargeMoney"/></span>
        </dd>
    </dl>
    <section class="submit" >
        <a  ng-click="submit()">确认</a>
    </section>

</main>
