<!-- 内容 -->
<main class="content bottom">
	<dl class="returned">
    	<dd>
        	<em>退款类型：</em>
        	<span>
            <select class="default" ng-model="returnApply.returntypeCode">
            	<option value="">请选择</option>
                <option value="1">我要退款</option>
                <option value="2">我要退货</option>
            </select>
        	</span>
        </dd>
    	<dd>
        	<em>收货状态：</em>
        	<span>
            <select class="default" ng-model="returnApply.harvestCode">
            	<option value="">请选择</option>
                <option value="1">未收到货</option>
                <option value="2">已收到货</option>
            </select>
        	</span>
        </dd>
    	<dd>
        	<em>退款原因：</em>
        	<span>
            <select class="default" ng-model="returnApply.reason">
            	<option value="">请选择</option>
                <option value="1">买家发错</option>
                <option value="2">发票问题</option>
                <option value="3">和图片描述不一样</option>
            </select>
        	</span>
        </dd>
    	<dd>
        	<em>退货说明：</em>
        	<span><input placeholder="请输入退货说明" type="text" ng-model="returnApply.memo"></span>
        </dd>
    </dl>
    <section class="submit"><a href="" ng-click="sub()">提交申请</a></section>
</main>

