<!-- 内容 -->
<main class="content bottom">
	<dl class="returned">
    	<dd>
        	<em>退款原因：</em>
        	<span>
                <input select2 ng-model="reasonItemValue" select2-model="selectedReasonItemValue" config="reasonConfig" class="form-control" type="text"/>
            <select class="default" ng-model="returnApply.reason">
            	<option value="">请选择</option>
                <option value="1">买家发错</option>
                <option value="2">发票问题</option>
                <option value="3">和图片描述不一样</option>
            </select>
        	</span>
        </dd>
    	<dd>
        	<em>补充说明：</em>
        	<span class="memo"><textarea placeholder="请输入补充说明" ng-model="memo"></textarea></span>
        </dd>
    </dl>
    <section class="submit"><a href="" ng-click="opendisabled||commitApply()" ng-disabled="opendisabled">提交申请</a></section>
</main>

