<main class="content bottom">
	<section class="oddnumbers">
    	<em>订单编号：{{orderinfo.orderno}}</em>
    	<i>{{orderinfo.showuserstatus}}</i>
    </section>
    
    <!-- 添加地址 -->
	<section class="address add" ng-if="address.length!=0">
        <i class="icon">&#xe617;</i>
        <a href="javascript:">
    	<span class="title">
        	<em>收货人：{{address.userName}}</em>
        	<em>{{address.telNumber}}</em>
        </span>
        <p>收货地址：{{address.provinceName}}{{address.cityName}}{{address.countryName}}{{address.detailInfo}}</p>
        </a>
    </section>
    <!-- 商品列表 -->
    <section class="check"  ng-switch on="orderinfo.type">
        <span class="title" ng-switch-when="001">翻新产品</span>
        <span class="title" ng-switch-when="002">维修产品</span>
        <span class="title" ng-switch-when="003">检测产品</span>
        <span class="title" ng-switch-when="004">回收产品</span>
        <span class="title" ng-switch-when="005">原有产品</span>
        <section class="product_list" ng-if="orderinfo.type!='005'">
            <section class="product">
                <section class="text">
                    <p>产品类别：{{products.name}}</a></p>
                    <span>产品材质：{{products.pname}}</span>
                </section>
                <section class="price_1" ng-style="{'font-size':'76%'}">
                    <i>X {{products.num}}</i>
                    <!--<em>{{products.price|currency:'￥'}}</em>-->
                </section>
            </section>
        </section>
        <section class="product_list" ng-if="orderinfo.type=='005' && metal">
            <section class="product">
                <section class="text" style="font-size: 0.8rem;font-weight: normal;padding:0.3rem 0">
                    <!--<p>产品类别：{{products.name}}</a></p>-->
                    <!--<span>产品材质：{{products.pname}}</span>-->
                    <div>贵金属材质:{{metal.material_type}} </div>
                    <div>贵金属纯度:{{metal.purity_value}} </div>
                    <div>贵金属重量:{{metal.material_weight}}g</div>
                </section>
            </section>
        </section>
        <section class="product_list" ng-if="orderinfo.type=='005' && diamond">
            <section class="product">
                <section class="text" style="font-size: 0.8rem;font-weight: normal;padding:0.3rem 0">
                    <!--<p>产品类别：{{products.name}}</a></p>-->
                    <!--<span>产品材质：{{products.pname}}</span>-->
                    <div>贵金属材质:{{diamond.material_type}} </div>
                    <div>贵金属纯度:{{diamond.purity_value}}  </div>
                    <div>证书:{{diamond.certificate_value}} </div>
                    <div>颜色:{{diamond.color_value}} </div>
                    <div>净度:{{diamond.cleaness_value}} </div>
                    <div>荧光:{{diamond.florescence_value}} </div>
                    <div>切工:{{diamond.cut_value}} </div>
                    <div>对称:{{diamond.symmetry_value}} </div>
                    <div>抛光:{{diamond.polish_value}} </div>
                    <div>品质:{{diamond.quality_value}} </div>
                    <div>主石重量（克拉）:{{diamond.main_diamond_weight}} </div>
                    <div>副石重量（克拉）:{{diamond.sec_diamond_weight}} </div>
                </section>
            </section>
        </section>
        <section class=" photograph">
            <ul>
                <li ng-repeat="item in pictures">
                <span>
                    <img ng-src="{{item.url}}">
                </span>
                </li>
            </ul>
            <p>描述信息：{{pictures[0].descrip==null||pictures[0].descrip.length==0?'无':pictures[0].descrip}}</p>
        </section>
        <span class="title" ng-if="exGoods!=null">换款产品</span>
        <section class="product_list" ng-if="exGoods!=null">

            <section class="product" ng-repeat="item in exGoods">
                <span class="pic"><a href=""><img ng-src="{{item.bannerurl}}"></a></span>
                <section class="text">
                    <p><a href="#/gooddetail/{{item.id}}">{{item.title}}</a></p>
                    <span>颜色分类：{{item.color}}{{item.weight?"【"+item.weight+"】":""}}{{item.material}} {{item.mainstorespec}}{{item.handsize?"【"+item.handsize+"】":""}}{{item.necklace_len?"【"+item.necklace_len+"】":""}}{{item.bracelet_len?"【"+item.bracelet_len+"】":""}}</span>
                </section>
                <section class="price_1">
                    <em>{{item.price|currency:"￥"}}</em>
                    <i>X {{item.num}}</i>
                </section>
            </section>
        </section>
        <section class="photograph" style="margin: 0" ng-if="orderinfo.shoporderstatusCode=='001002'||orderinfo.shoporderstatusCode=='002004'||orderinfo.shoporderstatusCode=='003002'||orderinfo.shoporderstatusCode=='004001'"||orderinfo.shoporderstatusCode=='005001'">
            <p style="color: red;">温馨提示：</p>
            <p>为了让您更快取回新的宝贝，请尽快送到门店，并填写详细信息！</p>
        </section>
        <section class="order_xq"  ng-switch on="orderinfo.type">
            <ul ng-switch-when="004">
                <li><em class="content">估价总额：</em><i class="content">{{(products.price*products.num)|currency:'￥'}}</i></li>
                <li><em class="subject">回收总额：</em><i class="subject subject_font">{{products.aturalprice?(products.aturalprice|currency:'￥'):'待定'}}</i></li>
                <li class="result" ng-if="orderinfo.totalprice!=0"><em>可实收：</em><i>{{orderinfo.totalprice|currency:'￥'}}</i></li>
                <li><u class="create_date">下单时间：{{orderinfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</u></li>
            </ul>
            <ul ng-switch-when="005">
                <li><em class="content">估价总额：</em><i class="content">{{(products.price*products.num)|currency:'￥'}}</i></li>
                <li><em class="content content_main">可用总额：</em><i class="content content_main">{{products.aturalprice?(products.aturalprice|currency:'￥'):'待定'}}</i></li>
                <li><em class="content content_main">运费：</em><i class="content content_main">{{orderinfo.freightprice|currency:'￥'}}</i></li>
                <li ng-if="buyinfo!=null"><em  class="subject">换款总额：</em><i class="subject subject_font">{{(buyinfo.buynum*buyinfo.unit_price)|currency:'￥'}}</i></li>
                <li class="result" ng-show="orderinfo.actualpayprice!=null"><em>实付款：</em><i>￥{{orderinfo.actualpayprice}}</i></li>
                <li><u class="create_date">下单时间：{{orderinfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</u></li>
            </ul>
            <ul ng-switch-default>
                <li><em class="content">服务总额：</em><i class="content">{{orderinfo.totalprice|currency:'￥'}}</i></li>
                <li class="underline"><em class="content content_main">运费：</em><i class="content content_main">{{orderinfo.freightprice|currency:'￥'}}</i></li>
                <li><em class="subject">订单总额：</em><i class="subject subject_font">{{(orderinfo.totalprice+orderinfo.freightprice)|currency:'￥'}}</i></li>
                <li class="result" ng-show="orderinfo.actualpayprice!=null"><em>实付款：</em><i>{{orderinfo.actualpayprice|currency:'￥'}}</i></li>
                <li><u class="create_date">下单时间：{{orderinfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</u></li>
            </ul>
        </section>
        <section class="qr_code">
            <span class="pic"><img ng-src="{{orderinfo.qrcode_url}}"></span>
        </section>
    </section>
</main>

<section class="button" ng-switch on="orderinfo.shoporderstatusCode">
    <span><a href="#/{{serviceName}}orderlist">订单列表</a></span>
    <span ng-switch-when="001001"><a ng-click="weixinPay(orderinfo.orderno,orderinfo.totalprice)">立即支付</a></span>
    <span ng-switch-when="002003"><a ng-click="weixinPay(orderinfo.orderno,orderinfo.totalprice)">立即支付</a></span>
    <span ng-switch-when="003001"><a ng-click="weixinPay(orderinfo.orderno,orderinfo.totalprice)">立即支付</a></span>
    <span ng-switch-when="005007"><a ng-click="weixinPay(orderinfo.orderno,buyinfo.buynum*buyinfo.unit_price-orderinfo.totalprice)">立即支付</a></span>
	<span ng-switch-when="001002"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-when="002004"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-when="003002"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-when="004001"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-when="005001"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-default><a ng-click="traceProgress(orderinfo.type,orderinfo.orderno,orderinfo.create_time,orderinfo.shoporderstatusCode,orderinfo.totalprice)">进度查询</a></span>
</section>