<main class="content bottom">
	<section class="oddnumbers">
    	<em>订单编号：{{orderinfo.orderno}}</em>
    	<i>{{orderinfo.showuserstatus}}</i>
    </section>
    
    <!-- 添加地址 -->
	<section class="address add" ng-if="address.length!=0">
        <i class="icon">&#xe617;</i>
        <a href="javascript:">
    	<span class="title">
        	<em>收货人：{{address.userName}}</em>
        	<em>{{address.telNumber}}</em>
        </span>
        <p>收货地址：{{address.provinceName}}{{address.cityName}}{{address.countryName}}{{address.detailInfo}}</p>
        </a>
    </section>
    <!-- 商品列表 -->
    <section class="check"  ng-switch on="orderinfo.type">
        <span class="title" ng-switch-when="001">翻新产品</span>
        <span class="title" ng-switch-when="002">维修产品</span>
        <span class="title" ng-switch-when="003">检测产品</span>
        <span class="title" ng-switch-when="004">回收产品</span>
        <span class="title" ng-switch-when="005">原有产品</span>
        <section class="product_list">
            <section class="product">
                <section class="text">
                    <p>产品类别：{{products.name}}</a></p>
                    <span>产品材质：{{products.pname}}</span>
                </section>
                <section class="price_1" ng-style="{'font-size':'76%'}">
                    <i>X {{products.num}}</i>
                    <em>{{products.price|currency:'￥'}}</em>
                </section>
            </section>
        </section>
        <section class=" photograph">
            <ul>
                <li ng-repeat="item in pictures">
                <span>
                    <img ng-src="{{item.url}}">
                </span>
                </li>
            </ul>
            <p>描述信息：{{pictures[0].descrip==null||pictures[0].descrip.length==0?'无':pictures[0].descrip}}</p>
        </section>
        <span class="title" ng-if="buyinfo!=null">换款产品</span>
        <section class="product_list" ng-if="buyinfo!=null">
        <section class="product">
            <span class="pic"><a href=""><img ng-src="{{buyinfo.bannerurl}}"></a></span>
            <section class="text">
                <p><a href="#/gooddetail/{{buyinfo.id}}">{{buyinfo.title}}</a></p>
                <span>颜色分类：{{buyinfo.color}}</span>
            </section>
            <section class="price_1">
                <em>{{buyinfo.unit_price|currency:"￥"}}</em>
                <i>X {{buyinfo.buynum}}</i>
            </section>
        </section>
            </section>
        <section class="qr_code">
            <span class="pic"><img ng-src="{{orderinfo.qrcode_url}}"></span>
        </section>
    </section>

    <section class="order_xq"  ng-switch on="orderinfo.type">
        <ul ng-switch-when="004">
            <li><em class="content">估价总额：</em><i class="content">{{(products.price*products.num)|currency:'￥'}}</i></li>
            <li><em class="subject">回收总额：</em><i class="subject subject_font">{{products.aturalprice?(products.aturalprice|currency:'￥'):'待定'}}</i></li>
            <li class="result" ng-if="orderinfo.totalprice!=0"><em>可实收：</em><i>{{orderinfo.totalprice|currency:'￥'}}</i></li>
            <li><u class="create_date">下单时间：{{orderinfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</u></li>
        </ul>
        <ul ng-switch-when="005">
            <li><em class="content">估价总额：</em><i class="content">{{(products.price*products.num)|currency:'￥'}}</i></li>
            <li><em class="content content_main">可用总额：</em><i class="content content_main">{{products.aturalprice?(products.aturalprice|currency:'￥'):'待定'}}</i></li>
            <li><em class="content content_main">运费：</em><i class="content content_main">{{orderinfo.freightprice|currency:'￥'}}</i></li>
            <li ng-if="buyinfo!=null"><em  class="subject">换款总额：</em><i class="subject subject_font">{{(buyinfo.buynum*buyinfo.unit_price)|currency:'￥'}}</i></li>
            <li class="result" ng-show="orderinfo.actualpayprice!=null"><em>实付款：</em><i>{{orderinfo.actualpayprice|currency:'￥'}}</i></li>
            <li><u class="create_date">下单时间：{{orderinfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</u></li>
        </ul>
        <ul ng-switch-default>
            <li><em class="content">服务总额：</em><i class="content">{{orderinfo.totalprice|currency:'￥'}}</i></li>
            <li class="underline"><em class="content content_main">运费：</em><i class="content content_main">{{orderinfo.freightprice|currency:'￥'}}</i></li>
            <li><em class="subject">订单总额：</em><i class="subject subject_font">{{(orderinfo.totalprice+orderinfo.freightprice)|currency:'￥'}}</i></li>
            <li class="result" ng-show="orderinfo.actualpayprice!=null"><em>实付款：</em><i>{{orderinfo.actualpayprice|currency:'￥'}}</i></li>
            <li><u class="create_date">下单时间：{{orderinfo.create_time|date:'yyyy-MM-dd HH:mm:ss'}}</u></li>
        </ul>
    </section>
    <!-- 物流信息 -->
    <section class="logistics" ng-if="orderinfo.shoporderstatusCode=='001002'||orderinfo.shoporderstatusCode=='002004'||orderinfo.shoporderstatusCode=='003002'||orderinfo.shoporderstatusCode=='004001'"||orderinfo.shoporderstatusCode=='005001'">
        <span class="title">友情提示：</span>
    	<span class="title">请尽快完善您发货的物流信息，以便平台及时提供服务</span>
    </section>
</main>

<section class="button" ng-switch on="orderinfo.shoporderstatusCode">
    <span><a href="#/{{serviceName}}orderlist">订单列表</a></span>
    <span ng-switch-when="001001"><a ng-click="weixinPay(orderinfo.orderno,orderinfo.totalprice)">立即支付</a></span>
    <span ng-switch-when="002003"><a ng-click="weixinPay(orderinfo.orderno,orderinfo.totalprice)">立即支付</a></span>
    <span ng-switch-when="003001"><a ng-click="weixinPay(orderinfo.orderno,orderinfo.totalprice)">立即支付</a></span>
    <span ng-switch-when="005007"><a ng-click="weixinPay(orderinfo.orderno,buyinfo.buynum*buyinfo.unit_price-orderinfo.totalprice)">立即支付</a></span>
	<span ng-switch-when="001002"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-when="002004"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-when="003002"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-when="004001"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-when="005001"><a  ng-click="addLogisticsInfo()">完善物流</a></span>
    <span ng-switch-default><a ng-click="traceProgress(orderinfo.type,orderinfo.orderno,orderinfo.create_time,orderinfo.shoporderstatusCode,orderinfo.totalprice)">处理进度</a></span>
</section>