
<main class="content bottom amputate"><!-- 选中input 在这里添加 “amputate” 显示删除按钮 -->
    <div ng-if="isNotData" class="isNotDataHint">
        <i class="iconfont icon-cry1"></i>
        <p>购物车暂无商品</p>
    </div>
    <section class="cart" ng-repeat="item in cartlist.pagingList" id="list">
    	<span class="check">
        <input id="{{item.gcid}}" type="checkbox"  ng-model="m[item.gcid]" ng-checked = "select_one" ng-click="selectOne($event,m[i.gcid])"/>
		<label for="{{item.gcid}}" class="check_label">
            <i class="checkbox_icon"></i>
        </label>
        </span>
        <span class="cart_pic"><a href=""><img ng-src="{{item.bannerurl}}"></a></span>
        <section class="cart_main">
            <span class="title"><a href="#/gooddetail/{{item.goodId}}">{{item.title}}</a></span>
            <span class="color"><font>颜色分类：{{item.color}}{{item.weight?"【"+item.weight+"】":""}}{{item.material}} {{item.mainstorespec}}{{item.handsize?"【"+item.handsize+"】":""}}{{item.necklace_len?"【"+item.necklace_len+"】":""}}{{item.bracelet_len?"【"+item.bracelet_len+"】":""}}</font></span>
            <section class="cart_price">
                <em>{{item.price | currency:'￥'}}</em>
                <span class="addto">
                	<a class="icon" href="" ng-click="updateamount(item.gcid,-1)">&#xe603;</a>
                    <input  type="text" ng-model="item.num" ng-change="changenamount(item.gcid)" />
                	<a class="iconfont icon-add" href="" ng-click="updateamount(item.gcid,1)"></a>
                </span>
            </section>
        </section>
    </section>
    <section class="delete" ng-if="delFlag"><a href="" ng-click="del()"><i class="icon">&#xe721;</i><em>删除</em></a></section>
</main>

<!-- FOOTER -->
<footer class="submit">
	<span class="check">
        <input id="all" type="checkbox" ng-model="select_all" ng-click="selectAll($event)"/>
		<label for="all" class="check_label">
            <i class="checkbox_icon"></i>
        </label>
        <em>全选</em>
    </span>
    <span class="total">合计：{{totalprice | currency:'￥'}}</span>
    <a href="javascript:void(0);"  ng-click="bill()" >结算<i>({{totalnum}})</i></a>
</footer>

<!-- 提示 -->
<section class="mask" style="display:none;" ng-style="delstyle">
    <section class="layer prompt">
        <p>确定要删除选中的商品？</p>
        <section class="submit">
            <a href="" ng-click="confirm()">确定</a>
            <a href="" ng-click="cancle()">取消</a>
        </section>
    </section>
</section>