@charset "utf-8";
/*照片下方的描述文本域*/
.desc{
    width: 95%;
    border:1px solid #eee;
    margin: auto;
    display: block;
    padding: 0.2rem 0.5rem;
}
.favcolor em , .favcolor i{
    color:#ffc900;
}
.txt-ellipsis {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*拍照页面*/
section.case ul.detect li {
    width: 50%;
    height: 113px;
    float: left;
    margin: 0 0 0 -1px;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
}
section.case ul.detect li:last-child{
    height: 40px;
    padding: 36px 0 37px 0;
}