<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinlele.dao.GoodMapper" >
  <resultMap id="BaseResultMap" type="com.jinlele.model.Good" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="bannerurl" property="bannerurl" jdbcType="VARCHAR" />
    <result column="hotimgUrl" property="hotimgurl" jdbcType="VARCHAR" />
    <result column="shortinfo" property="shortinfo" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="oldprice" property="oldprice" jdbcType="DOUBLE" />
    <result column="salesvol" property="salesvol" jdbcType="INTEGER" />
    <result column="canchange" property="canchange" jdbcType="INTEGER" />
    <result column="stocknum" property="stocknum" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="INTEGER" />
    <result column="ishotCode" property="ishotcode" jdbcType="CHAR" />
    <result column="showCode" property="showcode" jdbcType="CHAR" />
    <result column="deleteCode" property="deletecode" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jinlele.model.Good" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, bannerurl, hotimgUrl, shortinfo, price, oldprice, salesvol, canchange, 
    stocknum, position, comments, ishotCode, showCode, deleteCode, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from good
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from good
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jinlele.model.Good" >
    insert into good (id, title, bannerurl, 
      hotimgUrl, shortinfo, price, 
      oldprice, salesvol, canchange, 
      stocknum, position, comments, 
      ishotCode, showCode, deleteCode, 
      create_time, update_time, description
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{bannerurl,jdbcType=VARCHAR}, 
      #{hotimgurl,jdbcType=VARCHAR}, #{shortinfo,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{oldprice,jdbcType=DOUBLE}, #{salesvol,jdbcType=INTEGER}, #{canchange,jdbcType=INTEGER}, 
      #{stocknum,jdbcType=INTEGER}, #{position,jdbcType=INTEGER}, #{comments,jdbcType=INTEGER}, 
      #{ishotcode,jdbcType=CHAR}, #{showcode,jdbcType=CHAR}, #{deletecode,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jinlele.model.Good" >
    insert into good
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="bannerurl != null" >
        bannerurl,
      </if>
      <if test="hotimgurl != null" >
        hotimgUrl,
      </if>
      <if test="shortinfo != null" >
        shortinfo,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="oldprice != null" >
        oldprice,
      </if>
      <if test="salesvol != null" >
        salesvol,
      </if>
      <if test="canchange != null" >
        canchange,
      </if>
      <if test="stocknum != null" >
        stocknum,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="ishotcode != null" >
        ishotCode,
      </if>
      <if test="showcode != null" >
        showCode,
      </if>
      <if test="deletecode != null" >
        deleteCode,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="bannerurl != null" >
        #{bannerurl,jdbcType=VARCHAR},
      </if>
      <if test="hotimgurl != null" >
        #{hotimgurl,jdbcType=VARCHAR},
      </if>
      <if test="shortinfo != null" >
        #{shortinfo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="oldprice != null" >
        #{oldprice,jdbcType=DOUBLE},
      </if>
      <if test="salesvol != null" >
        #{salesvol,jdbcType=INTEGER},
      </if>
      <if test="canchange != null" >
        #{canchange,jdbcType=INTEGER},
      </if>
      <if test="stocknum != null" >
        #{stocknum,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=INTEGER},
      </if>
      <if test="ishotcode != null" >
        #{ishotcode,jdbcType=CHAR},
      </if>
      <if test="showcode != null" >
        #{showcode,jdbcType=CHAR},
      </if>
      <if test="deletecode != null" >
        #{deletecode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinlele.model.Good" >
    update good
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="bannerurl != null" >
        bannerurl = #{bannerurl,jdbcType=VARCHAR},
      </if>
      <if test="hotimgurl != null" >
        hotimgUrl = #{hotimgurl,jdbcType=VARCHAR},
      </if>
      <if test="shortinfo != null" >
        shortinfo = #{shortinfo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="oldprice != null" >
        oldprice = #{oldprice,jdbcType=DOUBLE},
      </if>
      <if test="salesvol != null" >
        salesvol = #{salesvol,jdbcType=INTEGER},
      </if>
      <if test="canchange != null" >
        canchange = #{canchange,jdbcType=INTEGER},
      </if>
      <if test="stocknum != null" >
        stocknum = #{stocknum,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=INTEGER},
      </if>
      <if test="ishotcode != null" >
        ishotCode = #{ishotcode,jdbcType=CHAR},
      </if>
      <if test="showcode != null" >
        showCode = #{showcode,jdbcType=CHAR},
      </if>
      <if test="deletecode != null" >
        deleteCode = #{deletecode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jinlele.model.Good" >
    update good
    set title = #{title,jdbcType=VARCHAR},
      bannerurl = #{bannerurl,jdbcType=VARCHAR},
      hotimgUrl = #{hotimgurl,jdbcType=VARCHAR},
      shortinfo = #{shortinfo,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      oldprice = #{oldprice,jdbcType=DOUBLE},
      salesvol = #{salesvol,jdbcType=INTEGER},
      canchange = #{canchange,jdbcType=INTEGER},
      stocknum = #{stocknum,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      comments = #{comments,jdbcType=INTEGER},
      ishotCode = #{ishotcode,jdbcType=CHAR},
      showCode = #{showcode,jdbcType=CHAR},
      deleteCode = #{deletecode,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinlele.model.Good" >
    update good
    set title = #{title,jdbcType=VARCHAR},
      bannerurl = #{bannerurl,jdbcType=VARCHAR},
      hotimgUrl = #{hotimgurl,jdbcType=VARCHAR},
      shortinfo = #{shortinfo,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      oldprice = #{oldprice,jdbcType=DOUBLE},
      salesvol = #{salesvol,jdbcType=INTEGER},
      canchange = #{canchange,jdbcType=INTEGER},
      stocknum = #{stocknum,jdbcType=INTEGER},
      position = #{position,jdbcType=INTEGER},
      comments = #{comments,jdbcType=INTEGER},
      ishotCode = #{ishotcode,jdbcType=CHAR},
      showCode = #{showcode,jdbcType=CHAR},
      deleteCode = #{deletecode,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 获取首页新品推荐 -->
  <select id="getNewProducts" resultType="map">
    select id ,title,bannerurl,price FROM good  WHERE  ishotCode='001' and deleteCode='001' ORDER BY create_time DESC LIMIT 0,3
  </select>

  <!-- 获取产品详情 -->
  <select id="getGoodDetail" resultType="map">
    select  g.id as goodid,g.title,g.bannerurl,g.description,g.weight,g.stocknum,g.saleprice,g.discprice FROM good g WHERE  g.id=#{gooodId}
  </select>

  <!--根据商品的id 查询所有的子商品信息-->
  <select id="getGoodChildsByGoodId" resultType="map">
    SELECT id , color , stocknumber,imgurl, good_id as goodId  FROM goodchild WHERE good_id =#{gooodId}
  </select>
</mapper>