<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinlele.dao.ReceiptAddressMapper" >
  <resultMap id="BaseResultMap" type="com.jinlele.model.ReceiptAddress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="postalCode" property="postalcode" jdbcType="VARCHAR" />
    <result column="provinceName" property="provincename" jdbcType="VARCHAR" />
    <result column="cityName" property="cityname" jdbcType="VARCHAR" />
    <result column="telNumber" property="telnumber" jdbcType="VARCHAR" />
    <result column="countryName" property="countryname" jdbcType="VARCHAR" />
    <result column="nationalCode" property="nationalcode" jdbcType="VARCHAR" />
    <result column="detailInfo" property="detailinfo" jdbcType="VARCHAR" />
    <result column="deleteCode" property="deletecode" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userName, postalCode, provinceName, cityName, telNumber, countryName, nationalCode, 
    detailInfo, deleteCode, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from receipt_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from receipt_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jinlele.model.ReceiptAddress" >
    insert into receipt_address (id, userName, postalCode, 
      provinceName, cityName, telNumber, 
      countryName, nationalCode, detailInfo, 
      deleteCode, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{postalcode,jdbcType=VARCHAR}, 
      #{provincename,jdbcType=VARCHAR}, #{cityname,jdbcType=VARCHAR}, #{telnumber,jdbcType=VARCHAR}, 
      #{countryname,jdbcType=VARCHAR}, #{nationalcode,jdbcType=VARCHAR}, #{detailinfo,jdbcType=VARCHAR}, 
      #{deletecode,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jinlele.model.ReceiptAddress" >
    insert into receipt_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="postalcode != null" >
        postalCode,
      </if>
      <if test="provincename != null" >
        provinceName,
      </if>
      <if test="cityname != null" >
        cityName,
      </if>
      <if test="telnumber != null" >
        telNumber,
      </if>
      <if test="countryname != null" >
        countryName,
      </if>
      <if test="nationalcode != null" >
        nationalCode,
      </if>
      <if test="detailinfo != null" >
        detailInfo,
      </if>
      <if test="deletecode != null" >
        deleteCode,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="provincename != null" >
        #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null" >
        #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="countryname != null" >
        #{countryname,jdbcType=VARCHAR},
      </if>
      <if test="nationalcode != null" >
        #{nationalcode,jdbcType=VARCHAR},
      </if>
      <if test="detailinfo != null" >
        #{detailinfo,jdbcType=VARCHAR},
      </if>
      <if test="deletecode != null" >
        #{deletecode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinlele.model.ReceiptAddress" >
    update receipt_address
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="postalcode != null" >
        postalCode = #{postalcode,jdbcType=VARCHAR},
      </if>
      <if test="provincename != null" >
        provinceName = #{provincename,jdbcType=VARCHAR},
      </if>
      <if test="cityname != null" >
        cityName = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null" >
        telNumber = #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="countryname != null" >
        countryName = #{countryname,jdbcType=VARCHAR},
      </if>
      <if test="nationalcode != null" >
        nationalCode = #{nationalcode,jdbcType=VARCHAR},
      </if>
      <if test="detailinfo != null" >
        detailInfo = #{detailinfo,jdbcType=VARCHAR},
      </if>
      <if test="deletecode != null" >
        deleteCode = #{deletecode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinlele.model.ReceiptAddress" >
    update receipt_address
    set userName = #{username,jdbcType=VARCHAR},
      postalCode = #{postalcode,jdbcType=VARCHAR},
      provinceName = #{provincename,jdbcType=VARCHAR},
      cityName = #{cityname,jdbcType=VARCHAR},
      telNumber = #{telnumber,jdbcType=VARCHAR},
      countryName = #{countryname,jdbcType=VARCHAR},
      nationalCode = #{nationalcode,jdbcType=VARCHAR},
      detailInfo = #{detailinfo,jdbcType=VARCHAR},
      deleteCode = #{deletecode,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>