<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinlele.dao.ShopOrderMapper" >
  <resultMap id="BaseResultMap" type="com.jinlele.model.ShopOrder" >
    <id column="orderno" property="orderno" jdbcType="VARCHAR" />
    <result column="totalprice" property="totalprice" jdbcType="DOUBLE" />
    <result column="totalnum" property="totalnum" jdbcType="INTEGER" />
    <result column="freightprice" property="freightprice" jdbcType="DOUBLE" />
    <result column="actualpayprice" property="actualpayprice" jdbcType="DOUBLE" />
    <result column="userlogisticsnoComp" property="userlogisticsnocomp" jdbcType="VARCHAR" />
    <result column="userlogisticsno" property="userlogisticsno" jdbcType="VARCHAR" />
    <result column="logisticsnoComp" property="logisticsnocomp" jdbcType="VARCHAR" />
    <result column="logisticsno" property="logisticsno" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="qrcode_url" property="qrcodeUrl" jdbcType="VARCHAR" />
    <result column="descriplevel" property="descriplevel" jdbcType="INTEGER" />
    <result column="shoporderstatusCode" property="shoporderstatuscode" jdbcType="VARCHAR" />
    <result column="receipt_address_id" property="receiptAddressId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleteCode" property="deletecode" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="pay_result" property="payResult" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderno, totalprice, totalnum, freightprice, actualpayprice,userlogisticsnoComp, userlogisticsno,logisticsnoComp, logisticsno,
    user_id, store_id, type,qrcode_url,shoporderstatusCode, receipt_address_id, comment, deleteCode,create_time, update_time, descriplevel,pay_result
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shoporder
    where orderno = #{orderno,jdbcType=VARCHAR}
  </select>
  <select id="selectOrderInfoByOrderno" resultType="map" parameterType="java.lang.String" >
    select orderno, totalprice, totalnum, freightprice, actualpayprice, userlogisticsno, logisticsno,
(select e.company from express_company as e where e.number=logisticsnoComp) as logisticsCompany,user_id, store_id,
type,qrcode_url,shoporderstatusCode, receipt_address_id, comment, deleteCode,create_time, update_time, descriplevel,
(select dictname from vw_dictdetail where eng='orderstatus' and codevalue=shoporderstatusCode) as showuserstatus,
(select shortname from vw_dictdetail where eng='orderstatus' and codevalue=shoporderstatusCode) as showplatstatus
    from shoporder
    where orderno = #{orderno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shoporder
    where orderno = #{orderno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jinlele.model.ShopOrder" >
    insert into shoporder (orderno, totalprice, totalnum, 
      freightprice, actualpayprice, userlogisticsnoComp, 
      userlogisticsno, logisticsnoComp, logisticsno, 
      user_id, store_id, type, 
      qrcode_url, descriplevel, shoporderstatusCode, 
      receipt_address_id, comment, deleteCode, 
      create_time, update_time, pay_result
      )
    values (#{orderno,jdbcType=VARCHAR}, #{totalprice,jdbcType=DOUBLE}, #{totalnum,jdbcType=INTEGER}, 
      #{freightprice,jdbcType=DOUBLE}, #{actualpayprice,jdbcType=DOUBLE}, #{userlogisticsnocomp,jdbcType=VARCHAR}, 
      #{userlogisticsno,jdbcType=VARCHAR}, #{logisticsnocomp,jdbcType=VARCHAR}, #{logisticsno,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{qrcodeUrl,jdbcType=VARCHAR}, #{descriplevel,jdbcType=INTEGER}, #{shoporderstatuscode,jdbcType=VARCHAR}, 
      #{receiptAddressId,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{deletecode,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{payResult,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jinlele.model.ShopOrder" >
    insert into shoporder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="totalprice != null" >
        totalprice,
      </if>
      <if test="totalnum != null" >
        totalnum,
      </if>
      <if test="freightprice != null" >
        freightprice,
      </if>
      <if test="actualpayprice != null" >
        actualpayprice,
      </if>
      <if test="userlogisticsnocomp != null" >
        userlogisticsnoComp,
      </if>
      <if test="userlogisticsno != null" >
        userlogisticsno,
      </if>
      <if test="logisticsnocomp != null" >
        logisticsnoComp,
      </if>
      <if test="logisticsno != null" >
        logisticsno,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="qrcodeUrl != null" >
        qrcode_url,
      </if>
      <if test="descriplevel != null" >
        descriplevel,
      </if>
      <if test="shoporderstatuscode != null" >
        shoporderstatusCode,
      </if>
      <if test="receiptAddressId != null" >
        receipt_address_id,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="deletecode != null" >
        deleteCode,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="payResult != null" >
        pay_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=DOUBLE},
      </if>
      <if test="totalnum != null" >
        #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="freightprice != null" >
        #{freightprice,jdbcType=DOUBLE},
      </if>
      <if test="actualpayprice != null" >
        #{actualpayprice,jdbcType=DOUBLE},
      </if>
      <if test="userlogisticsnocomp != null" >
        #{userlogisticsnocomp,jdbcType=VARCHAR},
      </if>
      <if test="userlogisticsno != null" >
        #{userlogisticsno,jdbcType=VARCHAR},
      </if>
      <if test="logisticsnocomp != null" >
        #{logisticsnocomp,jdbcType=VARCHAR},
      </if>
      <if test="logisticsno != null" >
        #{logisticsno,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null" >
        #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="descriplevel != null" >
        #{descriplevel,jdbcType=INTEGER},
      </if>
      <if test="shoporderstatuscode != null" >
        #{shoporderstatuscode,jdbcType=VARCHAR},
      </if>
      <if test="receiptAddressId != null" >
        #{receiptAddressId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deletecode != null" >
        #{deletecode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payResult != null" >
        #{payResult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinlele.model.ShopOrder" >
    update shoporder
    <set >
      <if test="totalprice != null" >
        totalprice = #{totalprice,jdbcType=DOUBLE},
      </if>
      <if test="totalnum != null" >
        totalnum = #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="freightprice != null" >
        freightprice = #{freightprice,jdbcType=DOUBLE},
      </if>
      <if test="actualpayprice != null" >
        actualpayprice = #{actualpayprice,jdbcType=DOUBLE},
      </if>
      <if test="userlogisticsnocomp != null" >
        userlogisticsnoComp = #{userlogisticsnocomp,jdbcType=VARCHAR},
      </if>
      <if test="userlogisticsno != null" >
        userlogisticsno = #{userlogisticsno,jdbcType=VARCHAR},
      </if>
      <if test="logisticsnocomp != null" >
        logisticsnoComp = #{logisticsnocomp,jdbcType=VARCHAR},
      </if>
      <if test="logisticsno != null" >
        logisticsno = #{logisticsno,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeUrl != null" >
        qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="descriplevel != null" >
        descriplevel = #{descriplevel,jdbcType=INTEGER},
      </if>
      <if test="shoporderstatuscode != null" >
        shoporderstatusCode = #{shoporderstatuscode,jdbcType=VARCHAR},
      </if>
      <if test="receiptAddressId != null" >
        receipt_address_id = #{receiptAddressId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deletecode != null" >
        deleteCode = #{deletecode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payResult != null" >
        pay_result = #{payResult,jdbcType=VARCHAR},
      </if>
    </set>
    where orderno = #{orderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinlele.model.ShopOrder" >
    update shoporder
    set totalprice = #{totalprice,jdbcType=DOUBLE},
      totalnum = #{totalnum,jdbcType=INTEGER},
      freightprice = #{freightprice,jdbcType=DOUBLE},
      actualpayprice = #{actualpayprice,jdbcType=DOUBLE},
      userlogisticsnoComp = #{userlogisticsnocomp,jdbcType=VARCHAR},
      userlogisticsno = #{userlogisticsno,jdbcType=VARCHAR},
      logisticsnoComp = #{logisticsnocomp,jdbcType=VARCHAR},
      logisticsno = #{logisticsno,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      qrcode_url = #{qrcodeUrl,jdbcType=VARCHAR},
      descriplevel = #{descriplevel,jdbcType=INTEGER},
      shoporderstatusCode = #{shoporderstatuscode,jdbcType=VARCHAR},
      receipt_address_id = #{receiptAddressId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      deleteCode = #{deletecode,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      pay_result = #{payResult,jdbcType=VARCHAR}
    where orderno = #{orderno,jdbcType=VARCHAR}
  </update>


  <!--服务翻新详情页面 根据订单号查询买买方物流单号 买卖方收货地址信息-->
  <select id="findReceiptServiceByOrderno" parameterType="java.lang.String" resultType="Map">
    select o.orderno , o.create_time ,o.store_id, o.receipt_address_id ,o.userlogisticsno ,o.userlogisticsnoComp,
(select company from express_company where number=o.userlogisticsnoComp) usrLogisticsCompName,
 o.logisticsno ,O.logisticsnoComp ,(select company from express_company where number=o.logisticsnoComp) logisticsCompName,
 a.user_name , a.tel_number ,a.province_name ,a.city_name ,a.country_name,a.detail_info,s.`name`,s.phone,s.address
from shoporder o
LEFT JOIN receipt_address a on a.id = o.receipt_address_id
LEFT JOIN store s on s.id=o.store_id
where  o.orderno = #{orderno}
  </select>

  <!--查询所有的快递公司-->
  <select id="findAllexpressCompanies" resultType="Map">
    select number , company from express_company
  </select>

  <!--查询维修订单是否已经定价-->
  <select id="selectactualpprice" parameterType="java.lang.String" resultType="java.lang.Double">
     select totalprice from shoporder
      where orderno = #{orderno}
  </select>

  <!--根据订单号查询服务的id-->
  <select id="selectServiceIdByOrderNo" parameterType="java.lang.String" resultType="java.lang.Integer">
      select id  from service where order_no = #{orderno}
  </select>

  <!--查询订单的下单时间-->
  <select id="selectCreateTime" resultType="java.util.Date" parameterType="java.lang.String">
        select create_time from shoporder where orderno = #{orderno}
  </select>
  <!--获取收货证明信息-->
  <select id="getCertificationInfo" parameterType="java.lang.String" resultType="Map">
    select imgurl,create_time from receive_test where order_no = #{orderno}
  </select>
  <!--获取拍照邮寄图片-->
  <select id="getPostbackImg" parameterType="java.lang.String" resultType="Map">
select p.url from order_picture op
join picture p on op.picture_id=p.id
where p.deleteCode='001' and order_no=#{orderno}
  </select>

  <!--根据订单号查询用户id-->
  <select id="getUserIdByOrderno" resultType="Integer" parameterType="java.lang.String">
    select user_id from shoporder where orderno = #{orderno}
  </select>

  <!--查询充值结果-->
  <select id="getRechargeResult" parameterType="java.lang.String" resultType="Map">
    select
    actualpayprice,
    pay_result,
    shoporderstatusCode
    from shoporder where orderno = #{orderno}
  </select>

</mapper>