<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinlele.dao.ShopOrderMapper" >
  <resultMap id="BaseResultMap" type="com.jinlele.model.ShopOrder" >
    <id column="orderno" property="orderno" jdbcType="VARCHAR" />
    <result column="totalprice" property="totalprice" jdbcType="DOUBLE" />
    <result column="totalnum" property="totalnum" jdbcType="INTEGER" />
    <result column="freightprice" property="freightprice" jdbcType="DOUBLE" />
    <result column="actualpayprice" property="actualpayprice" jdbcType="DOUBLE" />
    <result column="logisticsno" property="logisticsno" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="shoporderstatusCode" property="shoporderstatuscode" jdbcType="CHAR" />
    <result column="receipt_address_id" property="receiptAddressId" jdbcType="INTEGER" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="deleteCode" property="deletecode" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderno, totalprice, totalnum, freightprice, actualpayprice, logisticsno, user_id, 
    store_id, shoporderstatusCode, receipt_address_id, comment, deleteCode, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shoporder
    where orderno = #{orderno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shoporder
    where orderno = #{orderno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jinlele.model.ShopOrder" >
    insert into shoporder (orderno, totalprice, totalnum, 
      freightprice, actualpayprice, logisticsno, 
      user_id, store_id, shoporderstatusCode, 
      receipt_address_id, comment, deleteCode, 
      create_time, update_time)
    values (#{orderno,jdbcType=VARCHAR}, #{totalprice,jdbcType=DOUBLE}, #{totalnum,jdbcType=INTEGER}, 
      #{freightprice,jdbcType=DOUBLE}, #{actualpayprice,jdbcType=DOUBLE}, #{logisticsno,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{shoporderstatuscode,jdbcType=CHAR}, 
      #{receiptAddressId,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}, #{deletecode,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jinlele.model.ShopOrder" >
    insert into shoporder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="totalprice != null" >
        totalprice,
      </if>
      <if test="totalnum != null" >
        totalnum,
      </if>
      <if test="freightprice != null" >
        freightprice,
      </if>
      <if test="actualpayprice != null" >
        actualpayprice,
      </if>
      <if test="logisticsno != null" >
        logisticsno,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="shoporderstatuscode != null" >
        shoporderstatusCode,
      </if>
      <if test="receiptAddressId != null" >
        receipt_address_id,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="deletecode != null" >
        deleteCode,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=DOUBLE},
      </if>
      <if test="totalnum != null" >
        #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="freightprice != null" >
        #{freightprice,jdbcType=DOUBLE},
      </if>
      <if test="actualpayprice != null" >
        #{actualpayprice,jdbcType=DOUBLE},
      </if>
      <if test="logisticsno != null" >
        #{logisticsno,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="shoporderstatuscode != null" >
        #{shoporderstatuscode,jdbcType=CHAR},
      </if>
      <if test="receiptAddressId != null" >
        #{receiptAddressId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deletecode != null" >
        #{deletecode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinlele.model.ShopOrder" >
    update shoporder
    <set >
      <if test="totalprice != null" >
        totalprice = #{totalprice,jdbcType=DOUBLE},
      </if>
      <if test="totalnum != null" >
        totalnum = #{totalnum,jdbcType=INTEGER},
      </if>
      <if test="freightprice != null" >
        freightprice = #{freightprice,jdbcType=DOUBLE},
      </if>
      <if test="actualpayprice != null" >
        actualpayprice = #{actualpayprice,jdbcType=DOUBLE},
      </if>
      <if test="logisticsno != null" >
        logisticsno = #{logisticsno,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="shoporderstatuscode != null" >
        shoporderstatusCode = #{shoporderstatuscode,jdbcType=CHAR},
      </if>
      <if test="receiptAddressId != null" >
        receipt_address_id = #{receiptAddressId,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="deletecode != null" >
        deleteCode = #{deletecode,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderno = #{orderno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinlele.model.ShopOrder" >
    update shoporder
    set totalprice = #{totalprice,jdbcType=DOUBLE},
      totalnum = #{totalnum,jdbcType=INTEGER},
      freightprice = #{freightprice,jdbcType=DOUBLE},
      actualpayprice = #{actualpayprice,jdbcType=DOUBLE},
      logisticsno = #{logisticsno,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      shoporderstatusCode = #{shoporderstatuscode,jdbcType=CHAR},
      receipt_address_id = #{receiptAddressId,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR},
      deleteCode = #{deletecode,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where orderno = #{orderno,jdbcType=VARCHAR}
  </update>
</mapper>